/**
 * Fonts
 **/

@font-face {
	font-family: 'Raleway-Bold';
	src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
			 url('../fonts/Raleway-Bold.woff') format('woff'),
			 url('../fonts/Raleway-Bold.ttf') format('truetype'),
			 local('Helvetica');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway-Regular';
	src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
			 url('../fonts/Raleway-Regular.woff') format('woff'),
			 url('../fonts/Raleway-Regular.ttf') format('truetype'),
			 local('Helvetica');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato-Regular';
	src: url('../fonts/Lato-Regular.woff2') format('woff2'),
			 url('../fonts/Lato-Regular.woff') format('woff'),
			 url('../fonts/Lato-Regular.ttf') format('truetype'),
			 local('Arial');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


/* Fix the pointer issue between Bootstrap and Angular */
.nav, .pagination, .carousel, .panel-title a, a, th { cursor: pointer; }


/**
 * Logo Banner
 **/

.site-logo {
	background-color: #343434;
	border-radius: 0;
	border-width: 0;
	margin-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.site-logo.site-logo-xs {
	min-height: 0;
}

.site-logo.site-logo-xs ul.nav.navbar-nav {
	margin-top: 5px;
	margin-bottom: 5px;
}

.site-logo ul.nav.navbar-nav > li > a {
	font-family: 'Raleway-Regular', sans-serif;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 10px;
	color: #fff;
	opacity: .6;
	filter: alpha(opacity=50);
	transition: .2s ease-in-out;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.site-logo.site-logo-xs ul.nav.navbar-nav > li > a {
	text-align: center;
	padding-top: 0;
	padding-bottom: 0;
	height: auto;
}

.site-logo ul.nav.navbar-nav > li > a:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}

.site-logo ul.nav.navbar-nav > li.logo > a {
	height: 50px;
	width: 100px;
	font-size: 0;
	background-image:url(../images/logo-sentry.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

/**
 * Site Banner
 **/

.site-banner {
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 0;
	border-width: 0;
	font-family: 'Raleway-Regular', sans-serif;
	font-weight: 300;
	color: #ffffff;
	margin-bottom: 0;
}

/* Color of the solution */
body .site-banner { background-color: #3399ff; }
body.sentry-hardware .site-banner { background-color: #76A600; }
body.sentry-storage .site-banner { background-color: #db5d18; }
body.sentry-studio .site-banner { background-color: #b071dc; }

.site-banner .navbar-header {
	text-transform: uppercase;
	position: relative;
}

.site-banner .navbar-brand {
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: calc(100vw - 65px);
	height: unset;
	position: relative;
}

.site-banner .navbar-toggle {
	border-style: none;
	font-size: 30px;
}

.site-banner .navbar-header .header-title {
	font-size: 30px;
	line-height: 30px;
	margin-top: 0;
}

.site-banner .navbar-header .header-subtitle {
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 1px;
	opacity: .8;
}

.site-banner .navbar-header .header-xxs {
	position: absolute;
}

.site-banner .navbar-header .header-xxs .header-title {
	font-size: 14px;
	line-height: 14px;
	margin-top: -14px;
}

.site-banner .navbar-header .header-xxs .header-subtitle {
	font-size: 10px;
	line-height: 10px;
}

/* Show the "normal" banner when no .show-search-xs */
.site-banner .navbar-header .navbar-brand {
	opacity: 1;
	transition: opacity 0.1s, transform 0.1s;
	transform-origin: top left;
}

/* Hide the "normal" banner when .show-search-xs is set */
.site-banner .navbar-header.show-search-xs .navbar-brand:not(.header-xxs) {
	opacity: 0;
	transform: scale(0.2);
}

/* Hide the minimized banner when no .show-search-xs */
.site-banner .navbar-header .navbar-brand.header-xxs {
	opacity: 0;
}

/* Show the minimized banner when .show-search-xs is set */
.site-banner .navbar-header.show-search-xs .navbar-brand.header-xxs {
	opacity: 1;
}

/**
 * Search input
 **/

.site-search input.form-control {
	padding: 5px 25px 5px 5px;
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	color: #ffffff !important;
	font-family: 'Lato-Regular', sans-serif;
	border-radius: 0;
	font-size: 13px;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 300px !important;
}

.site-search input.form-control::-webkit-input-placeholder {
	color: #ffffff;
}
.site-search input.form-control:-moz-placeholder /* Firefox 18- */ {
	color: #ffffff;
}
.site-search input.form-control::-moz-placeholder /* Firefox 19+ */ {
	color: #ffffff;
}
.site-search input.form-control:-ms-input-placeholder {
	color: #ffffff;
}

.site-search input.form-control:focus {
	border-bottom: 1px solid #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.site-search.navbar-form > .form-group.has-feedback > i.form-control-feedback {
	top: 10px;
	font-size: 18px;
}

.site-search-xs {
	box-shadow: none;
	margin-top: 14px;
	margin-left: 0;
	margin-right: 0;
	max-width: calc(100vw - 50px);
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
}

.show-search-xs .site-search-xs {
	opacity: 1;
}

.site-search.site-search-xs input.form-control {
	font-size: 20px;
}

/**
 * Search Results
 **/

.search-results .search-results-content .search-results-entry {
	margin-top: 20px;
	margin-bottom: 5px;
}

.search-results .search-results-content .search-results-parents {
	letter-spacing: 1px;
}

.search-results .search-results-content .search-results-parents .search-results-parents-entry:not(:last-child)::after {
	content: "/";
	margin-left: 5px;
	margin-right: 5px;
}

.search-results .search-results-content .search-results-title {
	font-size: 18px;
	margin-bottom: 5px;
}

.search-results .search-results-content.search-results-content-xs .search-results-title {
	font-size: 15px;
}

.search-results .search-results-content a {
	text-decoration: none;
}

.search-results .search-results-content a:hover {
	text-decoration: underline;
}

.search-results .search-results-content.search-results-content-xs a:hover,
.search-results .search-results-content.search-results-content-xs a:active {
	text-decoration: none;
}

.search-results .search-results-content.search-results-content-xs .search-results-parents {
	color: #aaa;
}

.search-results .search-results-content i {
	margin-right: 5px;
}

.search-results-content .progressbar {
	width: 50%;
	height: 3px;
	background-color: #ccc;
	margin-bottom: 5px;
}

.search-results-content.search-results-content-xs .progressbar {
	width: 100%;
}

.search-results-content .progressbar .bar {
	background-color: #006ad6;
	height: 3px;
	width: 0;
	max-width: 100%;
	transition: width 0.5s ease-in-out;
}

.search-results-content.search-results-content-xs .extract {
	color: #555555;
}

.search-results-content mark {
	color: inherit;
	background-color: inherit;
	font-weight: bold;
	padding: 0;
}


/**
 * Main content
 **/

.main-content {
	min-height: 100vh;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: 'Lato-Regular', sans-serif;
	line-height: 1.5;
}

.main-content a {
	color: #0070E0;
	text-decoration: underline;
}

.main-content ul ul,
.main-content ul ol,
.main-content ol ol,
.main-content ol ul {
	margin-bottom: 10px;
}

.main-content p {
	margin: 0 0 10px;
}

.main-content h1 {
	text-transform: uppercase;
	font-size: 40px;
}

.main-content h1::after {
	content: '';
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 40px;
	border-top: 2px solid #444;
}

.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6,
.main-content .toc-heading {
	margin-top: 30px;
	margin-bottom: 10px;
}

.main-content h1,
.main-content h2 {
	font-family: 'Raleway-Bold', sans-serif;
	font-weight: bold;
	line-height: 40px;
	color: inherit;
	text-rendering: optimizelegibility;
}

.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6,
.main-content .toc-heading {
	font-family: 'Raleway-Regular', sans-serif;
	font-weight: 400;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
}

.main-content .toc-heading {
	font-size: 24px;
}

.main-content blockquote {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: inherit;
}

.main-content .document-footer::before {
	content: '';
	display: block;
	margin-top: 45px;
	margin-bottom: 15px;
	width: 40px;
	border-top: 1px solid #757575;
}

.main-content .document-footer {
	color: #757575;
}

.main-content .document-footer .keywords .label.label-default {
	background-color: #757575;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: lowercase;
}

.main-content .document-footer .keywords,
.main-content .document-footer .authors,
.main-content .document-footer .date {
	margin-bottom: 15px;
}

/**
 * Left menu
 **/

nav.left-menu {
	background-color: #383838;
	border: none;
	padding: 0;
}

nav.left-menu h5 {
	font-family: 'Raleway-Bold', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	opacity: 0.9;
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 2px;
	margin-right: 0;
	padding: 0;
}

nav.left-menu a {
	transition:.2s ease-in-out;
}

nav.left-menu > ul > li:first-child {
	border-top: 1px solid #464646;
}

nav.left-menu ul > li {
	margin-top: 0;
}

nav.left-menu ul > li > a {
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 13px;
	font-family: 'Lato-Regular', sans-serif;
	border-bottom: 1px solid #464646;
	border-radius: 0px;
	background-color: #343434;
	color: #bbbbbb;
}

nav.left-menu ul > li:not(.active) > a:hover {
	background-color: #404040;
	color: #ffffff;
	padding-left: 17px;
}

nav.left-menu ul > li.active > a,
nav.left-menu ul > li.active > a:hover {
	background-color: #0070E0;
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	background-position: right;
}

nav.left-menu ul ul > li > a {
	padding-left: 30px;
}

nav.left-menu ul ul > li:not(.active) > a:hover {
	padding-left: 32px;
}

nav.left-menu ul li a i {
	margin-right: 5px;
}

nav.left-menu ul li a .badge {
	font-size: 70%;
}

/**
 * Make Bootstrap 3 columns full height using flex
 **/

.row.display-flex {
	display: flex;
	flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

/**
 * Breadcrumbs
 **/

.parents ol.breadcrumb > li > a {
	color: #006ad6;
	text-decoration: none;
}

.parents ol.breadcrumb > li > a:hover {
	text-decoration: underline;
}

.parents ol.breadcrumb > li > a > i {
	margin-right: 5px;
}

.parents-xs ul > a {
	text-decoration: none;
}

.parents-xs ul > a > i,
.parents-xs ul > li > i {
	margin-right: 5px;
}

.parents-xs ul > a:hover {
	color: #006ad6;
}

.parents-xs ul > a:nth-child(2),
.parents-xs ul > li:nth-child(2) {
	padding-left: 30px;
}

.parents-xs ul > a:nth-child(3),
.parents-xs ul > li:nth-child(3) {
	padding-left: 45px;
}

/**
 * Table of content, on the right side (for large screens)
 **/

.toc-side-container {
	position: sticky;
	top: 0px;
}

.toc-side-container .toc {
	color: #ffffff;
	background-color:#EFEFEF;
	padding: 10px 20px;
	border-radius: 2px;
	margin-top: 20px;
	font-size: 13px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.toc-side-container .toc:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.toc-side-container .toc > .toc-heading {
	font-family: 'Raleway-Regular', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 20px;
	color: #6c6c6c;
	display: block;
	margin: 5px 0 5px 0;
}

.toc-side-container .toc > .toc-heading::after {
	content: '';
	display: block;
	margin: 20px 0;
	width: 30px;
	border-top: 2px solid #6c6c6c;
}

.toc-side-container .toc ul {
	list-style: none;
	padding-left: 0px;
	font-weight: bold;
}

.toc-side-container .toc ul li {
	margin: 15px 0;
}

.toc-side-container .toc ul ul {
	list-style: none;
	padding-left: 20px;
	font-weight: normal;
}

.toc-side-container .toc ul ul li {
	margin: 2px 0;
}

.toc-side-container .toc ul li a {
	color: #006ad6;
	text-decoration: none;
}

.toc-side-container .toc ul li a:hover {
	text-decoration: underline;
}

/**
 * Table of content, inline (for non-large screens)
 **/

.toc-inline-container {
	margin-bottom: 15px;
}

.toc-inline-container #toc {
	border-left-color: #eeeeee;
	border-left-style: solid;
	border-left-width: 5px;
	padding-left: 15px;
}

.toc-inline-container ul {
	list-style: none;
	padding-left: 0px;
	font-weight: bold;
}

.toc-inline-container ul li {
	margin: 5px 0;
}

.toc-inline-container ul ul {
	list-style: none;
	padding-left: 20px;
	font-weight: normal;
}

.toc-inline-container ul ul li {
	margin: 2px 0;
}


/**
 * Subtopics (and home on XS displays)
 **/

.subtopics::before,
.subtopics-xs::before {
	content: '';
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 40px;
	border-top: 2px solid #444;
}

.subtopics ul {
	list-style-type: none;
	padding-inline-start: 0px;
}

.subtopics ul > li > a > i {
	margin-right: 7px;
}

.subtopics-xs ul > a,
.home-xs ul > a {
	text-decoration: none;
	padding-left: 30px;
}

.subtopics-xs ul > a:hover,
.home-xs ul > a:hover {
	color: #006ad6;
}

.subtopics-xs ul > a > i,
.subtopics-xs ul > li > i,
.home-xs ul > a > i,
.home-xs ul > li > i {
	margin-right: 5px;
}

.subtopics-xs ul > a > i.pull-right,
.subtopics-xs ul > li > i.pull-right,
.home-xs ul > a > i.pull-right,
.home-xs ul > li  > i.pull-right {
	margin-right: 0;
	margin-top: 5px;
	color: initial;
}

.home-xs::after {
	content: '';
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 40px;
	border-top: 2px solid #444;
}



/**
 * Footer
 **/

.footer {
	background-color: #343434;
	color: #fff;
	padding: 15px;
}

.footer > .footer-title {
	font-family: 'Raleway-Regular', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
	font-size: 11px;
	opacity: .8;
}

.footer > .footer-copyright {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 10px;
	opacity: .62;
}

/**
 * Back to top button
 **/

.back-to-top {
	z-index: 299;
	position: fixed;
	width: 40px;
	height: 40px;
	background-color: #333;
	background-color: rgba(0,0,0,0.3);
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	color: #FFF;
	top: auto;
	left: auto;
	right: 30px;
	bottom: 50px;
	cursor: pointer;
	border-radius: 2px;
	transition: .2s ease-in-out;
}

.back-to-top:hover {
	background-color: #0070E0;
}


/**
 * zoomable
 *
 * zoomable thumbnail size is initialized with min-width and min-height.
 * Then animation from thumbnail to zoomed is done with a transition on
 * width from 0% to 100% (so, relative to the parent).
 * The zoomed size won't exceed max-width and max-height.
 *
 * The IMG element inside zoomable is constrained with max-width = 100%
 * and height: auto so that it grows and shrinks with the size of the
 * zoomable element.
 *
 * The full-screen state re-shuffles everything as a lightbox, using a
 * different z-index and position fixed.
 *
 * Do not mess with these CSS classes and attributes unless you really
 * know what you're doing.
 **/

zoomable {
	cursor: zoom-in;
	transition: width .3s ease-in-out;
	display: block;
	width: 0%;
	background-repeat: no-repeat;
	background-size: auto;
	position: relative;
	margin-bottom: 2em;
}

zoomable.zoomed {
	cursor: zoom-out;
	width: 100%;
}

.zoomable:focus {
	outline: none;
}

zoomable .zoomable-shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: box-shadow .3s ease-in-out;
}

zoomable .zoomable-shadow:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.full-screen.zoomable .zoomable-shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999999;
}

zoomable img {
	opacity: 0;
	max-width: 100%;
	height: auto !important;
	transition: opacity .3s ease-in-out;
}

zoomable.zoomed img {
	opacity: 1;
}

.zoomable.full-screen img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto;
	width: auto !important;
	height: auto !important;
	max-width: 90vw;
	max-height: 90vh;
}

.zoomable .zoomable-title {
	position: absolute;
	margin-top: 5px;
	width: 100%;
	text-align: center;
	color: #888;
	opacity: 0;
	font-size: 0%;
	transition: opacity .3s ease-in-out, font-size .3s ease-in-out;
}

.zoomed .zoomable .zoomable-title,
.zoomable.full-screen .zoomable-title {
	opacity: 1;
	font-size: 100%;
}

.zoomable.full-screen .zoomable-title {
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000000;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 10px;
	padding-bottom: 10px;
}

.zoomable .zoomable-control {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000000;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	text-align: right;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity .3s ease-in-out;
}

.zoomed:hover .zoomable .zoomable-control,
.zoomable.full-screen .zoomable-control {
	opacity: 1;
}

.zoomable .zoomable-control i {
	cursor: pointer;
	padding: 5px;
	font-size: 30px;
	color: rgba(255, 255, 255, 0.6);
	text-shadow: black;
}

.zoomable .zoomable-control i:hover {
	color: white;
}

/**
 * PrismJS customized theme
 **/
.language-psl .token.builtin {
	color: #e8e;
}

.language-psl .token.symbol {
	color: #fca;
}

.language-psl .token.operator {
	color: deepskyblue;
}

pre[class*=language-] {
	background-color: #333;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"] *::selection,
code[class*="language-"] *::selection {
	text-shadow: none;
	background: #666;
}
