/**
 * Back to top button
 **/

.back-to-top {
	z-index: 299;
	position: fixed;
	width: 40px;
	height: 40px;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	color: var(--main-fgcolor);
	top: auto;
	left: auto;
	right: 30px;
	bottom: 50px;
	cursor: pointer;
	border-radius: 2px;
	overflow: hidden;
	transition: color 0.2s ease-in-out;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background-color: var(--main-fgcolor);
		opacity: 0.05;
		transition:
			background-color 0.2s ease-in-out,
			opacity 0.2s ease-in-out;
	}

	i {
		position: relative;
		z-index: 1;
	}

	&:hover {
		color: var(--alternate-fgcolor);

		&::after {
			background-color: var(--alternate-bgcolor);
			opacity: 1;
		}
	}
}

/**
 * zoomable
 *
 * zoomable thumbnail size is initialized with min-width and min-height.
 * Then animation from thumbnail to zoomed is done with a transition on
 * width from 0% to 100% (so, relative to the parent).
 * The zoomed size won't exceed max-width and max-height.
 *
 * The IMG element inside zoomable is constrained with max-width = 100%
 * and height: auto so that it grows and shrinks with the size of the
 * zoomable element.
 *
 * The full-screen state re-shuffles everything as a lightbox, using a
 * different z-index and position fixed.
 *
 * Do not mess with these CSS classes and attributes unless you really
 * know what you're doing.
 **/

zoomable {
	cursor: zoom-in;
	transition: width 0.3s ease-in-out;
	display: block;
	width: 0%;
	background-repeat: no-repeat;
	background-size: auto;
	position: relative;
	margin-bottom: 2em;

	&.zoomed {
		cursor: zoom-out;
		width: 100%;
	}

	img {
		opacity: 0;
		max-width: 100%;
		height: auto !important;
		transition: opacity 0.3s ease-in-out;
	}

	&.zoomed img {
		opacity: 1;
	}

	.zoomable-shadow {
		box-shadow:
			0 1px 3px rgba(0, 0, 0, 0.12),
			0 1px 2px rgba(0, 0, 0, 0.24);
		transition: box-shadow 0.3s ease-in-out;

		&:hover {
			box-shadow:
				0 10px 20px rgba(0, 0, 0, 0.19),
				0 6px 6px rgba(0, 0, 0, 0.23);
		}
	}

	.zoomable-title {
		position: absolute;
		margin-top: 5px;
		width: 100%;
		text-align: center;
		color: #888;
		opacity: 0;
		font-size: 0%;
		transition:
			opacity 0.3s ease-in-out,
			font-size 0.3s ease-in-out;
	}

	.zoomable-control {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000000;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 10px;
		text-align: right;
		background-color: rgba(0, 0, 0, 0.2);
		transition: opacity 0.3s ease-in-out;

		i {
			cursor: pointer;
			padding: 5px;
			font-size: 30px;
			color: rgba(255, 255, 255, 0.6);
			text-shadow: black;

			&:hover {
				color: white;
			}
		}
	}
}

.zoomable {
	&:focus {
		outline: none;
	}

	&.full-screen {
		img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto auto;
			width: auto !important;
			height: auto !important;
			max-width: 90vw;
			max-height: 90vh;
		}

		.zoomable-title {
			opacity: 1;
			font-size: 100%;
			position: fixed;
			bottom: 10px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			z-index: 1000000;
			color: white;
			background-color: rgba(0, 0, 0, 0.5);
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.zoomable-control {
			opacity: 1;
		}
	}
}

.full-screen.zoomable .zoomable-shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999999;
}

.zoomed .zoomable .zoomable-title,
.zoomable.full-screen .zoomable-title {
	opacity: 1;
	font-size: 100%;
}

.zoomed:hover .zoomable .zoomable-control,
.zoomable.full-screen .zoomable-control {
	opacity: 1;
}
