/**
 * PrismJS Theme Switcher
 * Light theme (VS) by default, Dark theme (VSC Dark Plus) when body.dark
 */

body.sentry-site pre {
	border-left: 5px solid var(--main-fgcolor);
	border-right: none;
	border-top: none;
	border-bottom: none;
	border-radius: 4px;
	background: none;
	position: relative;
	color: var(--main-fgcolor);
	z-index: 1;
	white-space: pre-wrap;
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

body.sentry-site pre::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--main-fgcolor);
	opacity: 0.05;
	z-index: -1;
	border-radius: 4px;
	pointer-events: none;
}

body.sentry-site pre::selection,
body.sentry-site code::selection,
body.sentry-site pre *::selection,
body.sentry-site code *::selection {
	text-shadow: none;
	background: var(--alternate-fgcolor) !important;
	color: var(--alternate-bgcolor) !important;
}

body.sentry-site code,
body.sentry-site pre {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	direction: ltr;
	text-align: left;
	word-spacing: normal;
	word-break: normal;
	font-size: .9em;
	line-height: 1.2em;
	tab-size: 4;
	hyphens: none;
}

body.sentry-site pre > code {
	font-size: 1em;
}

/* Inline code */
body.sentry-site :not(pre) > code {
	background: none;
	position: relative;
	color: var(--main-fgcolor);
	z-index: 1;
	white-space: nowrap !important;
	overflow-x: auto;
}

body.sentry-site :not(pre) > code::after {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	background-color: var(--main-fgcolor);
	opacity: 0.07;
	z-index: -1;
	border-radius: 4px;
	pointer-events: none;
}

/**
 * copy-to-clipboard styling
 **/
body.sentry-site .copy-to-clipboard > button.btn-default:hover {
	border-color: var(--alternate-fgcolor);
	background-color: var(--alternate-bgcolor);
	color: var(--alternate-fgcolor);
}

/**
 * Tokens
 */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #008000;
	font-style: italic;
}

.token.namespace {
	opacity: .7;
}

.token.string {
	color: #A31515;
}

.token.punctuation,
.token.operator {
	color: #393A34;
}

.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.inserted {
	color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-value,
.language-autohotkey .token.selector,
.language-json .token.boolean,
.language-json .token.number,
code[class*="language-css"] {
	color: #0000ff;
}

.token.function {
	color: #393A34;
}

.token.deleted,
.language-autohotkey .token.tag {
	color: #9a050f;
}

.token.selector,
.language-autohotkey .token.keyword {
	color: #00009f;
}

.token.important {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.class-name,
.language-json .token.property {
	color: #2B91AF;
}

.token.tag,
.token.selector {
	color: #800000;
}

.token.attr-name,
.token.property,
.token.regex,
.token.entity {
	color: #ff0000;
}

.token.directive.tag .tag {
	background: #ffff00;
	color: #393A34;
}

/* Line Numbers plugin */
.line-numbers.line-numbers .line-numbers-rows {
	border-right-color: #a5a5a5;
}

.line-numbers .line-numbers-rows > span:before {
	color: #2B91AF;
}

/* Line Highlight plugin */
.line-highlight.line-highlight {
	background: rgba(193, 222, 241, 0.2);
	background: -webkit-linear-gradient(left, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));
	background: linear-gradient(to right, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));
}

/**
 * Dark Theme
 **/

/* Tokens */
body.dark .token.namespace {
	opacity: .7;
}

body.dark .token.doctype .token.doctype-tag {
	color: #569CD6;
}

body.dark .token.doctype .token.name {
	color: #9cdcfe;
}

body.dark .token.comment,
body.dark .token.prolog {
	color: #6a9955;
	font-style: normal;
}

body.dark .token.punctuation,
body.dark .language-html .language-css .token.punctuation,
body.dark .language-html .language-javascript .token.punctuation {
	color: #d4d4d4;
}

body.dark .token.property,
body.dark .token.tag,
body.dark .token.boolean,
body.dark .token.number,
body.dark .token.constant,
body.dark .token.symbol,
body.dark .token.inserted,
body.dark .token.unit {
	color: #b5cea8;
}

body.dark .token.selector,
body.dark .token.attr-name,
body.dark .token.string,
body.dark .token.char,
body.dark .token.builtin,
body.dark .token.deleted {
	color: #ce9178;
}

body.dark .language-css .token.string.url {
	text-decoration: underline;
}

body.dark .token.operator,
body.dark .token.entity {
	color: #d4d4d4;
}

body.dark .token.operator.arrow {
	color: #569CD6;
}

body.dark .token.atrule {
	color: #ce9178;
}

body.dark .token.atrule .token.rule {
	color: #c586c0;
}

body.dark .token.atrule .token.url {
	color: #9cdcfe;
}

body.dark .token.atrule .token.url .token.function {
	color: #dcdcaa;
}

body.dark .token.atrule .token.url .token.punctuation {
	color: #d4d4d4;
}

body.dark .token.keyword {
	color: #569CD6;
}

body.dark .token.keyword.module,
body.dark .token.keyword.control-flow {
	color: #c586c0;
}

body.dark .token.function,
body.dark .token.function .token.maybe-class-name {
	color: #dcdcaa;
}

body.dark .token.regex {
	color: #d16969;
}

body.dark .token.important {
	color: #569cd6;
}

body.dark .token.italic {
	font-style: italic;
}

body.dark .token.constant {
	color: #9cdcfe;
}

body.dark .token.class-name,
body.dark .token.maybe-class-name {
	color: #4ec9b0;
}

body.dark .token.console {
	color: #9cdcfe;
}

body.dark .token.parameter {
	color: #9cdcfe;
}

body.dark .token.interpolation {
	color: #9cdcfe;
}

body.dark .token.punctuation.interpolation-punctuation {
	color: #569cd6;
}

body.dark .token.boolean {
	color: #569cd6;
}

body.dark .token.property,
body.dark .token.variable,
body.dark .token.imports .token.maybe-class-name,
body.dark .token.exports .token.maybe-class-name {
	color: #9cdcfe;
}

body.dark .token.selector {
	color: #d7ba7d;
}

body.dark .token.escape {
	color: #d7ba7d;
}

body.dark .token.tag {
	color: #569cd6;
}

body.dark .token.tag .token.punctuation {
	color: #808080;
}

body.dark .token.cdata {
	color: #808080;
}

body.dark .token.attr-name {
	color: #9cdcfe;
}

body.dark .token.attr-value,
body.dark .token.attr-value .token.punctuation {
	color: #ce9178;
}

body.dark .token.attr-value .token.punctuation.attr-equals {
	color: #d4d4d4;
}

body.dark .token.entity {
	color: #569cd6;
}

body.dark .token.namespace {
	color: #4ec9b0;
}

/* Language Specific - Dark */
body.dark pre[class*="language-javascript"],
body.dark code[class*="language-javascript"],
body.dark pre[class*="language-jsx"],
body.dark code[class*="language-jsx"],
body.dark pre[class*="language-typescript"],
body.dark code[class*="language-typescript"],
body.dark pre[class*="language-tsx"],
body.dark code[class*="language-tsx"] {
	color: #9cdcfe;
}

body.dark pre[class*="language-css"],
body.dark code[class*="language-css"] {
	color: #ce9178;
}

body.dark pre[class*="language-html"],
body.dark code[class*="language-html"] {
	color: #d4d4d4;
}

body.dark .language-regex .token.anchor {
	color: #dcdcaa;
}

body.dark .language-html .token.punctuation {
	color: #808080;
}

/* Line highlighting - Dark */
body.dark pre[class*="language-"] > code[class*="language-"] {
	position: relative;
	z-index: 1;
}

body.dark .line-highlight.line-highlight {
	background: #f7ebc6;
	box-shadow: inset 5px 0 0 #f7d87c;
	z-index: 0;
}

/* Line Numbers plugin - Dark */
body.dark .line-numbers.line-numbers .line-numbers-rows {
	border-right-color: #404040;
}

body.dark .line-numbers .line-numbers-rows > span:before {
	color: #858585;
}

/* PSL language tokens - Light mode */
.language-psl .token.builtin {
	color: #0000ff;
}

.language-psl .token.symbol {
	color: #A31515;
}

.language-psl .token.operator {
	color: #393A34;
}

/* PSL language tokens - Dark mode */
body.dark .language-psl .token.builtin {
	color: #e8e;
}

body.dark .language-psl .token.symbol {
	color: #fca;
}

body.dark .language-psl .token.operator {
	color: deepskyblue;
}
