#*

╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲
Sentry Maven Skin
჻჻჻჻჻჻
Copyright (C) 2017 - 2023 Sentry Software
჻჻჻჻჻჻
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱

*#
#***********************************************************************
*
*    Main content section
*
*    Contains:
*    - TOC (Table of Contents) on the right for large displays
*    - Page header (for print)
*    - Breadcrumbs to parent pages
*    - Home page mobile navigation
*    - Document body content
*    - Subtopics navigation
*    - Document footer (keywords, footnotes, author, date)
*    - Search results panel
*
***********************************************************************
*#
##
## Hide content if we're displaying search results (only if search is enabled site-wide)
##
				<div#if($showSearchUI) ng-hide="siteSearch"#end>

					<div class="row">
##
## We'll show the TOC on the right, on large display
#if ($StringUtils.isNotBlank($tocContent))
## We have a TOC
						<div class="col-lg-4 col-lg-push-9 visible-lg toc-side-container">
							<div class="toc">
								<div class="toc-heading">$esc.html($tocHeadingText)</div>
#*							*#$tocContent
							</div>
						</div>
#end#*
						## Main content
*#					<div class="col-md-12#if ($StringUtils.isNotBlank($tocContent)) col-lg-8 col-lg-pull-4#end">
##
## Site title as a header (for print only)
					<div class="page-header visible-print-block">
							<h3>#*
*##if ($site.bannerLeft.name)#*
							*#<small>$site.bannerLeft.name</small><br/>#*
*##end#*
*#							$project.name $project.version
							</h3>
						</div>#*
*#
#if ($alignedFileName != "index.html")#*
							## Breadcrumb to parents (full desktop)
*#						<div class="parents hidden-xs">
								<ol class="breadcrumb">
									<!-- Home -->
									<li>
										<a href="$PathTool.calculateLink('index.html', $relativePath)">
											<i class="fas fa-home"></i>Home
										</a>
									</li>
								<!-- menus and items -->
	#foreach($menu in $site.body.menus)#*
	*##foreach($item in $menu.items)#*
		*##set($alignedHref = $PathTool.calculateLink($item.href, $relativePath))#*
		*##if ($alignedHref == $alignedFileName)
									<li>$menu.name</li>
				#break($foreach.parent)#*
		*##else#*
			*##foreach($subItem in $item.items)#*
				*##set($alignedSubHref = $PathTool.calculateLink($subItem.href, $relativePath))#*
				*##if ($alignedSubHref == $alignedFileName)
									<li>$menu.name</li>
									<li><a href="$alignedHref">$item.name</a></li>
						#break($foreach.parent)#*
				*##end#*
			*##end#*
		*##end#*
	*##end#*
*##end
								</ol>
							</div>
##
## Breadcrumb to parents (mobile)
						<div class="parents-xs visible-xs">
								<ul class="list-group">
									<!-- Home -->
									<a class="list-group-item" href="$PathTool.calculateLink('index.html', $relativePath)">
										<i class="fas fa-home"></i>Home
									</a>
									<!-- menus and items -->
	#foreach($menu in $site.body.menus)#*
	*##foreach($item in $menu.items)#*
		*##set($alignedHref = $PathTool.calculateLink($item.href, $relativePath))#*
		*##if ($alignedHref == $alignedFileName)
									<li class="list-group-item"><i class="fas fa-level-up-alt fa-flip-horizontal"></i>$menu.name</li>
				#break($foreach.parent)#*
		*##else#*
			*##foreach($subItem in $item.items)#*
				*##set($alignedSubHref = $PathTool.calculateLink($subItem.href, $relativePath))#*
				*##if ($alignedSubHref == $alignedFileName)
									<li class="list-group-item"><i class="fas fa-level-up-alt fa-flip-horizontal"></i>$menu.name</li>
									<a class="list-group-item" href="$alignedHref">
										<i class="fas fa-level-up-alt fa-flip-horizontal"></i>$item.name
										<span class="badge">$item.items.size()</span>
									</a>
						#break($foreach.parent)#*
				*##end#*
			*##end#*
		*##end#*
	*##end#*
*##end
							</ul>
						</div>
#end#*

							## For index.html, we will show all 1st-level content from site.xml
							*##if ($alignedFileName == "index.html")
								<div class="home-xs visible-xs">
									<h1 title="Documentation Home"><i class="fas fa-home"></i></h1>
									<ul class="list-group">
#*								*##foreach ($menu in $site.body.menus)
										<li class="list-group-item"><i class="fas fa-folder-open"></i>$menu.name</li>
#*									*##foreach ($item in $menu.items)#*
											*##if ($item.href == "index.html")
												<a class="list-group-item" href="#$bodyElement.select('h1').get(0).attr('id')" du-smooth-scroll>
													<i class="fas fa-home"></i>$item.name
													<i class="fas fa-angle-double-down pull-right"></i>
												</a>
#*										*##else
												<a class="list-group-item" href="$PathTool.calculateLink($item.href, $relativePath)">
													<i class="fas fa-file-alt"></i>$item.name
#*												*##if (!$item.items.empty)<span class="badge">$item.items.size()</span>#end
												</a>
#*										*##end#*
										*##end#*
									*##end
									</ul>
								</div>
#*						*##end#*
							##
							## The actual document body (finally!)
							##
							*#$bodyElement.html()
##
## Subtopics (if any)
#foreach ($menu in $site.body.menus)#*
								*##foreach ($item in $menu.items)#*
									*##if ($alignedFileName == $PathTool.calculateLink($item.href, $relativePath))#*
										*##if (!$item.items.empty)
											<div class="subtopics hidden-xs">
												<h2>More Information</h2>
												<ul>
#*											*##foreach ($subItem in $item.items)
													<li>
														<a href="$PathTool.calculateLink($subItem.href, $relativePath)">
															<i class="fas fa-file-alt"></i>$subItem.name
														</a>
													</li>
#*											*##end
												</ul>
											</div>
											<div class="subtopics-xs visible-xs">
												<ul class="list-group">
													<li class="list-group-item"><i class="fas fa-folder-open"></i>$item.name</li>
#*												*##foreach ($subItem in $item.items)
													<a class="list-group-item" href="$PathTool.calculateLink($subItem.href, $relativePath)">
														<i class="fas fa-file-alt"></i>$subItem.name
													</a>
#*												*##end
												</ul>
											</div>
#*									*##end#*
									*##end#*
								*##end#*
							*##end#*

							##
							## The document footer
							##*#
							<div class="document-footer">
#*
							## Keywords
							*##if (!$keywordsArray.empty)#*
								*#<div class="keywords">
#*								*##foreach ($keyword in $keywordsArray)#*
									*#<span class="label label-default">$keyword</span>
#*								*##end#*
								*#</div>
#*							*##end#*

							## List of links, for print only
							*##if (!$urlFootnoteMap.isEmpty())#*
								*#<div class="footnotes visible-print-block">
								Links:
								<ul class="list-unstyled">
								#foreach ($url in $urlFootnoteMap.keySet())#*
									*#<li>[$urlFootnoteMap[$url]] $url</li>
								#end#*
							*#</ul>
							</div>
#*							*##end#*

							## Author
							*##if (!$authors.isEmpty())#*
								*#<div class="authors">Author: <strong>$StringUtils.join($authors.toArray(), ", ")</strong></div>
#*							*##end#*

							## Date
							*##if ($StringUtils.isNotBlank($documentDate))#*
								*#<div class="date">Date: <strong>$documentDate</strong></div>
#*							*##end#*
*#						</div>
					</div>
				</div>

#if($showSearchUI)
				<!-- Search results -->
				<div class="search-results" ng-show="siteSearch">

					<h2 class="hidden-xs">
						$esc.html($searchResultsText) <em>{{siteSearch | truncate:'50'}}</em>
					</h2>

					<div ng-show="resultArray.length">

						<!-- Result count -->
						<div class="hidden-xs">
							{{resultArray.length}}
							<span ng-pluralize count="resultArray.length" when="{'1': '$esc.java($searchResultSingleText)', 'other': '$esc.java($searchResultCountText)'}"></span>
						</div>

						<!-- List of results (Desktop) -->
						<div class="search-results-content hidden-xs">
							<div class="search-results-entry" ng-repeat="result in resultArray track by result.href">
								<div class="search-results-parents small text-muted">
									<span class="search-results-parents-entry" ng-repeat="parent in result.parents track by parent.title">
										<a ng-if="parent.path" ng-href="{{parent.path}}" ng-bind-html="parent.title"></a>
										<span ng-if="!parent.path" ng-bind-html="parent.title"></span>
									</span>
								</div>
								<p class="search-results-title"><a ng-href="{{result.href}}"><i class="fas fa-file-alt"></i>{{result.title}}</a></p>
								<div class="progressbar" aria-hidden="true">
									<div class="bar-bg"></div>
									<div class="bar-fg" ng-style="{width: result.score * 100 + '%'}"></div>
								</div>
								<div class="small extract">{{result.body | truncate:'400'}}</div>
							</div>
						</div>

						<!-- List of results (mobile) -->
						<ul class="list-group search-results-content search-results-content-xs visible-xs">
							<a
								ng-repeat="result in resultArray track by result.href"
								ng-href="{{result.href}}"
								class="list-group-item"
							>
								<div class="search-results-parents small" aria-hidden="true">
									<span class="search-results-parents-entry" ng-repeat="parent in result.parents track by parent.title" ng-bind-html="parent.title"></span>
								</div>
								<div class="search-results-title"><i class="fas fa-file-alt"></i>{{result.title}}</div>
								<div class="progressbar" aria-hidden="true">
									<div class="bar-bg"></div>
									<div class="bar-fg" ng-style="{width: result.score * 100 + '%'}"></div>
								</div>
								<div class="small extract">{{result.body | truncate:'100'}}</div>
							</a>
						</ul>

					</div>

					<div ng-hide="resultArray.length">
						<div ng-show="searchLoading" class="search-loading">
							<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
							<em>Searching...</em>
						</div>
						<em ng-hide="searchLoading">No results.</em>
					</div>

				</div>
#end
