#*

╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲
Sentry Maven Skin
჻჻჻჻჻჻
Copyright (C) 2017 - 2023 Sentry Software
჻჻჻჻჻჻
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱

*#<!DOCTYPE html><html lang="$locale.language">
#parse("tools.vm")

<head>
	<meta charset="$outputEncoding">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>$shortTitle &ndash; $decoration.name</title>

#if ($keywords)
	<meta name="keywords" content="$keywords" />
#end
	<meta name="generator" content="$esc.html($generator)" />
#foreach ($author in $authors)
	<meta name="author" content="$author" />
#end#*

// Header from the document *#
$headElement.html()

	<!-- build:css css/main-combined.css -->
	<link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../../../node_modules/@fortawesome/fontawesome-free/css/all.css">
	<link rel="stylesheet" href="../../../node_modules/prism-themes/themes/prism-vsc-dark-plus.css">
	<link rel="stylesheet" href="css/sentry.css">
	<link rel="stylesheet" href="css/print.css">
	<!-- endbuild -->
	<link rel="stylesheet" href="$relativePath/css/site.css">
#*
	// Global site tag (gtag.js) - Google Analytics *#
#if ($decoration.googleAnalyticsAccountId)
	<script async src="https://www.googletagmanager.com/gtag/js?id=$decoration.googleAnalyticsAccountId"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '$decoration.googleAnalyticsAccountId');
	</script>
#end
</head>

<body class="sentry-site $!decoration.getCustomValue('bodyClass')" ng-app="sentry.site" ng-strict-di ng-controller="siteController" ng-keydown="handleKeyboard($event)">
#*
	// Dark desktop header with the bannerLeft, links, and bannerRight *#
	<header role="banner">
#*
		// Links *#
		<div class="hidden-xs navbar navbar-inverse site-logo">
#if ($decoration.bannerLeft.href)
			<div class="navbar-header">
				<a class="navbar-brand" href="$PathTool.calculateLink($decoration.bannerLeft.href, $relativePath)">#*
*##if ($decoration.bannerLeft.src)#*
				*#<img src="$PathTool.calculateLink($decoration.bannerLeft.src, $relativePath)" alt="$!decoration.bannerLeft.alt">#*
*##elseif ($decoration.bannerLeft.name)#*
				*#$decoration.bannerLeft.name#*
*##end#*
			*#</a>
			</div>
#end
			<ul class="nav navbar-nav">
#links($decoration.body.links)
			</ul>
#if ($decoration.bannerRight.href)#*
*#		<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="$PathTool.calculateLink($decoration.bannerRight.href, $relativePath)">#*
*##if ($decoration.bannerRight.src)#*
					*#<img src="$PathTool.calculateLink($decoration.bannerRight.src, $relativePath)" alt="$!decoration.bannerRight.alt">#*
*##elseif ($decoration.bannerRight.name)#*
	*#$!decoration.bannerRight.name#*
*##end#*
				*#</a>
				</li>
			</ul>
#end#*
*#	</div>

#if ($decoration.bannerLeft.href)#*
*#		<div class="visible-xs navbar navbar-inverse site-logo site-logo-xs">
			<ul class="nav navbar-nav">
				<li><a href="$PathTool.calculateLink($decoration.bannerLeft.href, $relativePath)">$!decoration.bannerLeft.name</a></li>
			</ul>
		</div>
#end#*

		// Banner *#
		<div class="navbar site-banner">

			<div class="container-fluid">

				<div class="navbar-header" ng-class="{'show-search-xs': showSearchInput && media == 'xs'}">#*

					// The Search button (only on xs displays) *#
					<button
						class="navbar-toggle hidden-lg hidden-md hidden-sm"
						ng-click="showSearchInput = !showSearchInput; clearSearch()"
						title="{{ showSearchInput ? 'Close the search' : 'Search' }}"
					>
						<i ng-class="showSearchInput ? 'fas fa-times' : 'fa fa-search'"></i>
					</button>#*

					// The documentation title *#
					<div class="navbar-brand">
						<div class="header-title">$decoration.name</div>
						<div class="header-subtitle">
							Version <strong>$decoration.getCustomValue("projectVersion", $project.version)</strong>
						</div>
					</div>#*

					// The documentation title minimized (when search is on, on mobile) *#
					<div class="navbar-brand header-xxs">
						<div class="header-title">$decoration.name</div>
						<div class="header-subtitle">
							Version <strong>$decoration.getCustomValue("projectVersion", $project.version)</strong>
						</div>
					</div>#*

					// The search field (only on xs displays) *#
					<form class="navbar-form site-search site-search-xs visible-xs" ng-show="showSearchInput">
						<input
							type="search"
							class="form-control"
							placeholder="Search..."
							aria-label="Search"
							ng-model="siteSearch"
							ng-change="search(siteSearch)"
							ng-model-options="{ debounce: 500 }"
							ng-keydown="handleKeyboard($event)"
							focus-me="showSearchInput"
						/>
					</form>
				</div>
#*
				// Search field on desktop *#
				<form class="navbar-form navbar-right site-search hidden-xs">
					<div class="form-group has-feedback">
						<input
							type="text"
							class="form-control"
							placeholder="Search..."
							aria-label="Search"
							ng-model="siteSearch"
							ng-change="search(siteSearch)"
							ng-model-options="{ debounce: 500 }"
							ng-keydown="handleKeyboard($event)"
						/>
						<i class="fa fa-search form-control-feedback" aria-hidden="true"></i>
					</div>
				</form>

			</div>
		</div>
	</header>

	<div class="container-fluid main-container">
		<div class="row display-flex">
#*
			// Left menu*#
			<nav class="left-menu hidden-xs col-sm-4 col-md-3" role="navigation">
				#foreach ($menu in $decoration.body.menus)
					<h5 class="text-uppercase">$menu.name</h5>
#*				*##leftMenu($menu.items)#*
				*##end
			</nav>
#*
			// Main content*#
			<main class="main-content col-xs-12 col-sm-8 col-md-9">
#*
				// Hide content if we're displaying search results *#
				<div ng-hide="siteSearch">

					<div class="row">
#*
						// We'll show the TOC on the right, on large display *#
#if ($StringUtils.isNotBlank($tocContent))
#* We have a TOC *#
						<div class="col-lg-4 col-lg-push-9 visible-lg toc-side-container">
							<div class="toc">
								<div class="toc-heading">Table of Contents</div>
#*							*#$tocContent
							</div>
						</div>
#end#*
						// Main content
*#					<div class="col-md-12#if ($StringUtils.isNotBlank($tocContent)) col-lg-8 col-lg-pull-4#end">
#*
						// Site title as a header (for print only)
*#					<div class="page-header visible-print-block">
							<h3>#*
*##if ($decoration.bannerLeft.name)#*
							*#<small>$decoration.bannerLeft.name</small><br/>#*
*##end#*
*#							$project.name $project.version
							</h3>
						</div>#*
*#
#if ($alignedFileName != "index.html")#*
							// Breadcrumb to parents (full desktop)
*#						<div class="parents hidden-xs">
								<ol class="breadcrumb">
									<!-- Home -->
									<li>
										<a href="$PathTool.calculateLink('index.html', $relativePath)">
											<i class="fas fa-home"></i>Home
										</a>
									</li>
								<!-- menus and items -->
	#foreach($menu in $decoration.body.menus)#*
	*##foreach($item in $menu.items)#*
		*##set($alignedHref = $PathTool.calculateLink($item.href, $relativePath))#*
		*##if ($alignedHref == $alignedFileName)
									<li>$menu.name</li>
				#break($foreach.parent)#*
		*##else#*
			*##foreach($subItem in $item.items)#*
				*##set($alignedSubHref = $PathTool.calculateLink($subItem.href, $relativePath))#*
				*##if ($alignedSubHref == $alignedFileName)
									<li>$menu.name</li>
									<li><a href="$alignedHref">$item.name</a></li>
						#break($foreach.parent)#*
				*##end#*
			*##end#*
		*##end#*
	*##end#*
*##end
								</ol>
							</div>
#*
							// Breadcrumb to parents (mobile)
*#						<div class="parents-xs visible-xs">
								<ul class="list-group">
									<!-- Home -->
									<a class="list-group-item" href="$PathTool.calculateLink('index.html', $relativePath)">
										<i class="fas fa-home"></i>Home
									</a>
									<!-- menus and items -->
	#foreach($menu in $decoration.body.menus)#*
	*##foreach($item in $menu.items)#*
		*##set($alignedHref = $PathTool.calculateLink($item.href, $relativePath))#*
		*##if ($alignedHref == $alignedFileName)
									<li class="list-group-item"><i class="fas fa-level-up-alt fa-flip-horizontal"></i>$menu.name</li>
				#break($foreach.parent)#*
		*##else#*
			*##foreach($subItem in $item.items)#*
				*##set($alignedSubHref = $PathTool.calculateLink($subItem.href, $relativePath))#*
				*##if ($alignedSubHref == $alignedFileName)
									<li class="list-group-item"><i class="fas fa-level-up-alt fa-flip-horizontal"></i>$menu.name</li>
									<a class="list-group-item" href="$alignedHref">
										<i class="fas fa-level-up-alt fa-flip-horizontal"></i>$item.name
										<span class="badge">$item.items.size()</span>
									</a>
						#break($foreach.parent)#*
				*##end#*
			*##end#*
		*##end#*
	*##end#*
*##end
							</ul>
						</div>
#end#*

							// For index.html, we will show all 1st-level content from site.xml
							*##if ($alignedFileName == "index.html")
								<div class="home-xs visible-xs">
									<h1 title="Documentation Home"><i class="fas fa-home"></i></h1>
									<ul class="list-group">
#*								*##foreach ($menu in $decoration.body.menus)
										<li class="list-group-item"><i class="fas fa-folder-open"></i>$menu.name</li>
#*									*##foreach ($item in $menu.items)#*
											*##if ($item.href == "index.html")
												<a class="list-group-item" href="#$bodyElement.select('h1').get(0).attr('id')" du-smooth-scroll>
													<i class="fas fa-home"></i>$item.name
													<i class="fas fa-angle-double-down pull-right"></i>
												</a>
#*										*##else
												<a class="list-group-item" href="$PathTool.calculateLink($item.href, $relativePath)">
													<i class="fas fa-file-alt"></i>$item.name
#*												*##if (!$item.items.empty)<span class="badge">$item.items.size()</span>#end
												</a>
#*										*##end#*
										*##end#*
									*##end
									</ul>
								</div>
#*						*##end#*

							//
							// The actual document body (finally!)
							//
							*#$bodyElement.html()
#*
							// Subtopics (if any)
							*##foreach ($menu in $decoration.body.menus)#*
								*##foreach ($item in $menu.items)#*
									*##if ($alignedFileName == $PathTool.calculateLink($item.href, $relativePath))#*
										*##if (!$item.items.empty)
											<div class="subtopics hidden-xs">
												<h2>More Information</h2>
												<ul>
#*											*##foreach ($subItem in $item.items)
													<li>
														<a href="$PathTool.calculateLink($subItem.href, $relativePath)">
															<i class="fas fa-file-alt"></i>$subItem.name
														</a>
													</li>
#*											*##end
												</ul>
											</div>
											<div class="subtopics-xs visible-xs">
												<ul class="list-group">
													<li class="list-group-item"><i class="fas fa-folder-open"></i>$item.name</li>
#*												*##foreach ($subItem in $item.items)
													<a class="list-group-item" href="$PathTool.calculateLink($subItem.href, $relativePath)">
														<i class="fas fa-file-alt"></i>$subItem.name
													</a>
#*												*##end
												</ul>
											</div>
#*									*##end#*
									*##end#*
								*##end#*
							*##end#*

							//
							// The footer
							//*#
							<div class="document-footer">
#*
							// Keywords
							*##if (!$keywordsArray.empty)#*
								*#<div class="keywords">Keywords:<br>
#*							*##foreach ($keyword in $keywordsArray)#*
									*#<span class="label label-default">$keyword</span>
#*							*##end#*
								*#</div>
#*						*##end#*

							// List of links, for print only
							*##if (!$urlFootnoteMap.isEmpty())#*
								*#<div class="footnotes visible-print-block">
								Links:
								<ul class="list-unstyled">
								#foreach ($url in $urlFootnoteMap.keySet())#*
									*#<li>[$urlFootnoteMap[$url]] $url</li>
								#end#*
							*#</ul>
							</div>
#*						*##end#*

							// Author
							*##if (!$authors.isEmpty())#*
								*#<div class="authors">Author: <strong>$StringUtils.join($authors.toArray(), ", ")</strong></div>
#*						*##end#*

							// Date
							*##if ($StringUtils.isNotBlank($documentDate))#*
								*#<div class="date">Date: <strong>$documentDate</strong></div>
#*						*##end#*
*#						</div>
						</div>
					</div>
				</div>

				<!-- Search results -->
				<div class="search-results" ng-show="siteSearch">

					<h2 class="hidden-xs">
						Search Results for <em>{{siteSearch | truncate:'50'}}</em>
					</h2>

					<div ng-show="resultArray.length">

						<!-- Result count -->
						<div class="hidden-xs">
							{{resultArray.length}}
							<span ng-pluralize count="resultArray.length" when="{'1': 'result', 'other': 'results'}"></span>
						</div>

						<!-- List of results (Desktop) -->
						<div ng-if="media != 'xs'" class="search-results-content hidden-xs">
							<div class="search-results-entry" ng-repeat="result in resultArray track by result.href">
								<div class="search-results-parents small text-muted">
									<span class="search-results-parents-entry" ng-repeat="parent in result.parents track by parent.title">
										<a ng-if="parent.path" ng-href="{{parent.path}}">{{parent.title}}</a>
										<span ng-if="!parent.path">{{parent.title}}</span>
									</span>
								</div>
								<p class="search-results-title"><a ng-href="{{result.href}}"><i class="fas fa-file-alt"></i>{{result.title}}</a></p>
								<div class="progressbar" aria-hidden="true"><div class="bar" ng-style="{width: result.score * 100 + '%'}"></div></div>
								<div class="small extract">{{result.body | truncate:'400'}}</div>
							</div>
						</div>

						<!-- List of results (mobile) -->
						<ul ng-if="media == 'xs'" class="list-group search-results-content search-results-content-xs visible-xs">
							<a
								ng-repeat="result in resultArray track by result.href"
								ng-href="{{result.href}}"
								class="list-group-item"
							>
								<div class="search-results-parents small" aria-hidden="true">
									<span class="search-results-parents-entry" ng-repeat="parent in result.parents track by parent.title">
										{{parent.title}}
									</span>
								</div>
								<div class="search-results-title"><i class="fas fa-file-alt"></i>{{result.title}}</div>
								<div class="progressbar" aria-hidden="true"><div class="bar" ng-style="{width: result.score * 100 + '%'}"></div></div>
								<div class="small extract">{{result.body | truncate:'100'}}</div>
							</a>
						</ul>

					</div>

					<div ng-hide="resultArray.length">
						<em>No results.</em>
					</div>

				</div>

			</main>

		</div>
	</div>

	<!--Footer in mobile and desktop-->
	<footer class="footer">

		<p class="footer-title" ng-class="{'text-center': media == 'xs'}">
			<strong>$decoration.name $decoration.getCustomValue("projectVersion", $project.version)</strong>
			<span class="hidden-xs">|</span><br class="hidden-sm hidden-md hidden-lg"/>
			Documentation as of <strong>$publishDateString</strong>
		</p>

		<!-- Mobile only: links -->
		<div class="visible-xs navbar navbar-inverse site-logo site-logo-xs">
			<ul class="nav navbar-nav">
#if ($decoration.bannerLeft.href && $decoration.bannerLeft.name)#*
*#			<li><a href="$PathTool.calculateLink($decoration.bannerLeft.href, $relativePath)">$!decoration.bannerLeft.name</a></li>
#end#*
*##links($decoration.body.links)
#if ($decoration.bannerRight.href && $decoration.bannerRight.name)#*
*#			<li><a href="$PathTool.calculateLink($decoration.bannerRight.href, $relativePath)">$!decoration.bannerRight.name</a></li>
#end#*
*#		</ul>
		</div>

		<div class="footer-copyright" ng-class="{'text-center': media == 'xs'}">
			Copyright &copy;#*
		*##if ($StringUtils.isNotBlank($project.inceptionYear)) $project.inceptionYear&dash;#end#*
		*#$date.get("yyyy")#*
		*##if ($StringUtils.isNotBlank($project.organization.name)) <a href="$PathTool.calculateLink($project.organization.url, $relativePath)">$project.organization.name</a>#end
		</div>
	</footer>

	<div ng-show="showBackToTop" class="back-to-top" ng-click="backToTop()"><i class="fa fa-angle-up" aria-hidden="true"></i></div>

	<!-- build:js js/main-combined.js -->
	<script src="../../../node_modules/mark.js/dist/mark.min.js" charset="UTF-8"></script>
	<script src="../../../node_modules/angular/angular.min.js"></script>
	<script src="../../../node_modules/angular-animate/angular-animate.min.js"></script>
	<script src="../../../node_modules/angular-scroll/angular-scroll.min.js"></script>
	<script src="../../../node_modules/angular-media-queries/match-media.js"></script>
	<script src="../../../node_modules/elasticlunr/release/elasticlunr.min.js"></script>
	<script src="js/site.js"></script>
	<script src="js/site-index.js"></script>
	<script src="js/zoomable.js"></script>
	<script src="js/truncate.js"></script>
	<!-- endbuild -->

#if (!$bodyElement.select("pre > code[class*=language-]").empty)
	<!-- build:js js/prism.js -->
	<script src="../../../node_modules/prismjs/prism.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-markup.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-clike.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-bash.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-batch.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-css.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-docker.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-ini.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-javascript.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-java.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-json.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-markdown.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-powershell.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-psl.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-shell-session.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-regex.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-sql.js"></script>
	<script src="../../../node_modules/prismjs/components/prism-yaml.js"></script>
	<!-- endbuild -->
#end
	<script>
angular.module("sentry.site").constant("RELATIVE_ROOT", "$esc.java($relativePath)");
angular.module("sentry.site").constant("SITE_MENU", [
#foreach ($menu in $decoration.menus)#*
*##foreach ($item in $menu.items)
{
	path: "$esc.java($item.href)",
	title: "$esc.java($item.name)",
	parents: [{ title: "$esc.java($menu.name)" }]
},
#**##if (!$item.items.empty)#*
		*##foreach ($subItem in $item.items)
{
	path: "$esc.java($subItem.href)",
	title: "$esc.java($subItem.name)",
	parents: [
		{
			title: "$esc.java($menu.name)"
		},
		{
			path: "$esc.java($PathTool.calculateLink($item.href, $relativePath))",
			title: "$esc.java($item.name)"
		}
	]
},
#*	*##end#*
	*##end#*
*##end
#end
]);

	</script>
#if ($decoration.getCustomValue("showRenderingTime", "false").toLowerCase() == "true")#*
	*##set($renderingTime = $date.systemTime - $startTime)
<!-- Rendering time: $renderingTime ms -->
#end#*
*#</body>
</html>
