#*

╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲
Sentry Maven Skin
჻჻჻჻჻჻
Copyright (C) 2017 - 2023 Sentry Software
჻჻჻჻჻჻
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱

*#
#**********************************************************************
*
*    A few velocimacros to help site.vm
*
*    Perform also some "prep" work on the source HTML
*    - indexing
*    - add CSS classes where necessary
*    - add AngularJS directives where necessary
*
***********************************************************************
*#
##
## Compatibility between Maven Site Plugin 3.x and 4.x
## In 3.x, the site model is available as $decoration
## In 4.x, it's available as $site (and $decoration is deprecated)
## This ensures both variables are always available:
## - $site is used throughout our templates (modern)
## - $decoration remains available for backward compatibility with existing user docs
##
## Note: Custom configuration access works the same in both versions:
## - $site.getCustomValue("key") - convenience method for simple values
## - $site.getCustomValue("key", "default") - with default value
## - $site.getCustomChild("key") - returns DOM element for complex structures
## These are equivalent to $site.custom.getChild("key").getValue() but cleaner.
##
#if (!$site && $decoration)#*
	*##set ($site = $decoration)#*
*##end#*
*##if (!$decoration && $site)#*
	*##set ($decoration = $site)#*
*##end
#*


**
* Convenience directive to invoke a method and ignore the return value.
*
* Usage:
*	  #call ( $hashtable.put("foo", "bar") )
**
*##macro ( call $foo )#*
	*##if ($foo)#*
		// do nothing - the 'if' is for ignoring the return value
	*##end#*

*##end#*


**
* Banner helper macro - returns the alt text for a banner image
*
* Supports both Maven Site Plugin 3.x and 4.x syntax for banner configuration.
*
* 3.x syntax: <bannerLeft><alt>Logo</alt></bannerLeft>
* 4.x syntax: <bannerLeft><image alt="Logo"/></bannerLeft>
**
*##macro(bannerImageAlt $banner)#*
	*##if ($banner.image && $banner.image.alt)#*
		*#$esc.html($banner.image.alt)#*
	*##elseif ($banner.alt)#*
		*#$esc.html($banner.alt)#*
	*##elseif ($banner.name)#*
		*#$esc.html($banner.name)#*
	*##end#*
*##end#*


**
* links
*
* Outputs a list of links
*
* $links must be a list of link objects with the below properties:
* - href: the URL to link to
* - name: the text to be displayed
* - target: the "frame" target of the URL (typically "_blank" for a new tab)
*
* The "active" class is automatically put on the <li> element that contains
* the URL linking to the current page.
*
* Output example:
*
* <li><a href="other.html">Other Path</a></li>
* <li class="active"><a href="current.html">Current Path</a></li>
* <li><a href="pretty.html"><i class="fa fa-plus-sign"></i> Pretty</a></li>
**
*##macro(links $links)#*

	*##foreach($item in $links)#*

		// Calculate how to reach the menu item's link from where we are
		*##set($alignedHref = $PathTool.calculateLink($item.href, $relativePath))#*

		// Check whether this menu item should be set as "active", i.e.
		// the current page we're rendering matches with this menu item
		*##set($activeLink = false)#*
		*##if ($alignedHref == $alignedFileName)#*
			*##set($activeLink = true)#*
		*##end#*

		// <li> or <li class="active">
		*##if ($activeLink)<li class="active">#{else}<li>#end#*
			// The <a href="..." class="externalLink?" target="..."> link
			*#<a #*
				*##if ($item.href)href="$alignedHref"#end#*
				*##if($item.href && ($item.href.startsWith("http://") || $item.href.startsWith("https://")) && !($project.url && $item.href.startsWith($project.url)) && !($project.organization.url && $item.href.startsWith($project.organization.url))) class="externalLink"#end#*
				*##if ($item.target) target="$target"#end#*
				*#>#*
				*#$item.name#*
			*#</a>#*
		*#</li>
#*
	*##end#*

*##end#*

**
* leftMenu
*
* Macro that builds the left menu from $site.body.menus
*
**
*##macro(leftMenu)#*
	*##set($hrefList = [])#*
	*##foreach ($menu in $site.body.menus)
		<h5 class="text-uppercase">$menu.name</h5>
#*	*##leftMenuRecursive($menu.items, false)#*
	*##end#*
*##end#*

**
* leftMenuRecursive
*
* Recursive macro that creates the left menu with all the specified links
*
* The "active" class is automatically put on the <li> element that contains
* the URL linking to the current page.
*
**
*##macro(leftMenuRecursive $links $closeable)#*
*#
<ul class="nav nav-pills nav-stacked animate"#if ($closeable) ng-hide="hideSubItems"#end>
#*
*##foreach($item in $links)#*

		// Calculate how to reach the menu item's link from where we are
		*##set($alignedHref = $PathTool.calculateLink($item.href, $relativePath))#*

		// Check whether this menu item should be set as "active", i.e.
		// the current page we're rendering matches with this menu item...
		// or matches with any sub menu item
		*##set($activeLink = false)#*
		*##set($openLink = false)#*
		*##if ($alignedHref == $alignedFileName)#*
			*##set($activeLink = true)#*
		*##else#*
			*##foreach($subItem in $item.items)#*
				*##if ($alignedFileName == $PathTool.calculateLink($subItem.href, $relativePath)) #set($openLink = true)#end#*
			*##end#*
		*##end#*

		// Check if this link was already displayed, in which case we dismiss it
		*##if($hrefList.contains($item.href))#*
			*##set($skipItem = true)#*
		*##else#*
			*##set($skipItem = false)#*
			*##call($hrefList.add($item.href))#*
		*##end#*

		// <li> or <li class="active">
		*##if(!$skipItem || $openLink)#*
			*##if ($activeLink)<li class="active">#{else}<li>#end#*
				// The <a href="..." target="..."> link
				*#<a #*
					*##if ($item.href)href="$alignedHref"#end#*
					*##if ($item.target) target="$target"#end#*
					*##if ($activeLink) ng-click="hideSubItems = !hideSubItems"#end#*
					*#>#*
					// Icon (different for topics with subtopics)
					*##if ($item.items.empty)#*
						*##if ($item.href == "/" || $item.href == "index.html")#*
							*#<i class="fas fa-home"></i>#*
						*##else#*
							*#<i class="fas fa-file-alt"></i>#*
						*##end#*
					*##else#*
						*##if ($openLink || $activeLink)#*
							*#<i ng-class="hideSubItems ? 'fas fa-folder' : 'fas fa-folder-open'"></i>#*
						*##else#*
							*#<i class="fas fa-folder"></i>#*
						*##end#*
					*##end#*
					*# $item.name#*
					*##if (!$item.items.empty) <span class="badge">$item.items.size()</span>#end#*
				*#</a>#*
			*#</li>
#*
			// If link is active and has subitems, show them
			*##if (($openLink || $activeLink) && !$item.items.empty)#leftMenuRecursive($item.items, $activeLink)#end
#*	*##end#*
	*##end#*

*#</ul>
#*
*##end#*


**
* getMenuSection
*
* Returns the menu name (section) that the current file belongs to.
* Returns empty string if the file is not found in any menu.
*
* This is used by AIIndexTool.updateLlmsTxt() to categorize pages in llms.txt
**
*##macro(getMenuSection)#*
	*##foreach($menu in $site.body.menus)#*
		*##foreach($item in $menu.items)#*
			*##set($alignedHref = $PathTool.calculateLink($item.href, $relativePath))#*
			*##if ($alignedHref == $alignedFileName)#*
				*#$menu.name#*
				*##break($foreach.parent)#*
			*##else#*
				*##foreach($subItem in $item.items)#*
					*##set($alignedSubHref = $PathTool.calculateLink($subItem.href, $relativePath))#*
					*##if ($alignedSubHref == $alignedFileName)#*
						*#$menu.name#*
						*##break($foreach.parent)#*
					*##end#*
				*##end#*
			*##end#*
		*##end#*
	*##end#*
*##end#*


/////////////////////////////////////////////////////
//
//   Initialization
//
/////////////////////////////////////////////////////

// Measure the time to process all of this
*##set($startTime = $date.systemTime)#*

// Ensure headContent, bodyContent, and shortTitle are defined (Maven Site Plugin 4.x may not define them if not present in the source)
*##if(!$headContent)#set($headContent = "")#end#*
*##if(!$bodyContent)#set($bodyContent = "")#end#*
*##if(!$shortTitle)#set($shortTitle = "")#end#*

// Interpolation mode: controls how ${...} expressions are processed in content
// Options (configured in site.xml <custom><interpolation> or per-page via front matter):
//   - "velocity": Full Velocity processing via $render.eval() - use with CAUTION:
//     * Works for basic variables like ${project.name}
//     * BREAKS on any string literals with quotes because Doxia converts ASCII
//       quotes ("...") to Unicode smart quotes ("...") which Velocity doesn't recognize
//     * BREAKS on Velocity directives (#if, #include, etc.) in content
//   - "maven": Maven project properties (pom.xml), standard project/site metadata,
//              and custom values from site.xml <custom> (default - recommended)
//   - "none": No additional interpolation
// Per-page override: add "interpolation: none" (or "maven" or "velocity") as front matter header
*##set($interpolationMode = $site.getCustomValue("interpolation", "maven"))#*
// Check for per-page override via meta tag (from front matter "interpolation: xxx")
*##set($tempHeadElement = $htmlTool.parseContent($headContent))#*
*##if($tempHeadElement)#*
	*##set($pageInterpolation = $htmlTool.getAttr($tempHeadElement, "meta[name=interpolation]", "content"))#*
	*##if($pageInterpolation && !$pageInterpolation.isEmpty())#*
		*##set($interpolationMode = $pageInterpolation.get(0))#*
	*##end#*
*##end#*

// Process content based on interpolation mode
*##if($interpolationMode == "velocity")#*
	// Full Velocity processing - use $render.eval to process Velocity syntax
	*##set($bodyContent = $render.eval($bodyContent))#*
	*##set($headContent = $render.eval($headContent))#*
	*##set($shortTitle = $render.eval($shortTitle))#*
*##elseif($interpolationMode == "maven")#*
	// Replace Maven project properties and custom properties
	// Supports escaping with double dollar: $${property} will output literal ${property}

	// Step 1: Build a map of all property names and their values
	*##set($propertyMap = {})#*
	// Standard project coordinates
	*##call($propertyMap.put("project.version", $project.version))#*
	*##call($propertyMap.put("project.name", $project.name))#*
	*##call($propertyMap.put("project.groupId", $project.groupId))#*
	*##call($propertyMap.put("project.artifactId", $project.artifactId))#*
	*##if($project.url)#call($propertyMap.put("project.url", $project.url))#end#*
	*##if($project.description)#call($propertyMap.put("project.description", $project.description))#end#*
	*##if($project.organization && $project.organization.name)#call($propertyMap.put("project.organization.name", $project.organization.name))#end#*
	*##if($project.organization && $project.organization.url)#call($propertyMap.put("project.organization.url", $project.organization.url))#end#*
	// Custom properties from pom.xml <properties> section
	*##if($project.properties && !$project.properties.isEmpty())#*
		*##foreach($propEntry in $project.properties.entrySet())#*
			*##call($propertyMap.put($propEntry.key, $propEntry.value))#*
		*##end#*
	*##end#*
	// Custom properties from site.xml <custom> section
	*##if($site.custom)#*
		*##foreach($customChild in $site.custom.getChildren())#*
			*##set($customValue = $customChild.getValue())#*
			*##if($customValue)#*
				*##call($propertyMap.put($customChild.name, $customValue))#*
			*##end#*
		*##end#*
	*##end#*

	// Step 2: Brutally replace all $${ with a temporary marker
	*##set($bodyContent = $bodyContent.replace("${esc.d}${esc.d}{", "[!ESCAPED_DOLLAR]{"))#*
	*##set($headContent = $headContent.replace("${esc.d}${esc.d}{", "[!ESCAPED_DOLLAR]{"))#*
	*##set($shortTitle = $shortTitle.replace("${esc.d}${esc.d}{", "[!ESCAPED_DOLLAR]{"))#*

	// Step 3: For each property, replace with value
	*##foreach($propEntry in $propertyMap.entrySet())#*
		*##set($propPlaceholder = "${esc.d}{${propEntry.key}}")#*
		*##set($propValue = $propEntry.value)#*
		*##set($bodyContent = $bodyContent.replace($propPlaceholder, $propValue))#*
		*##set($headContent = $headContent.replace($propPlaceholder, $propValue))#*
		*##set($shortTitle = $shortTitle.replace($propPlaceholder, $propValue))#*
	*##end#*

	// Step 4: Replace temporary marker back to literal ${...}
	*##set($bodyContent = $bodyContent.replace("[!ESCAPED_DOLLAR]{", "${esc.d}{"))#*
	*##set($headContent = $headContent.replace("[!ESCAPED_DOLLAR]{", "${esc.d}{"))#*
	*##set($shortTitle = $shortTitle.replace("[!ESCAPED_DOLLAR]{", "${esc.d}{"))#*
*##end#*
// If "none" or any other value: no additional interpolation (standard Maven Site behavior)

// Parse the body and header content (guard against null content in Maven Site Plugin 4.x)
*##set($bodyElement = $htmlTool.parseContent($bodyContent))#*
*##set($headElement = $htmlTool.parseContent($headContent))#*

// Fix all protocol-relative links
*##set($bodyElement = $htmlTool.fixProtocolRelativeUrls($bodyElement))#*

// Transform blockquotes with GitHub-style callouts into styled callouts
// Syntax: > [!NOTE]\n> Content...
// Types: NOTE, TIP, IMPORTANT, WARNING, CAUTION
*##set($calloutBlockquotes = $bodyElement.select("blockquote"))#*
*##foreach($blockquote in $calloutBlockquotes)#*
	*##set($firstParagraph = $blockquote.selectFirst("p"))#*
	*##if($firstParagraph)#*
		*##set($firstText = $firstParagraph.text().trim())#*
		// Check for [!NOTE], [!TIP], [!IMPORTANT], [!WARNING], [!CAUTION] at the beginning
		*##if($firstText.matches("^\[!(NOTE|TIP|IMPORTANT|WARNING|CAUTION)\].*"))#*
			// Extract the callout type (NOTE, TIP, etc.)
			*##set($calloutType = $firstText.replaceAll("^\[!(NOTE|TIP|IMPORTANT|WARNING|CAUTION)\].*", "$1").toLowerCase())#*
			// Map types to icons
			*##if($calloutType == "note")#*
				*##set($calloutIcon = "fa-solid fa-circle-info")#*
				*##set($calloutLabel = "Note")#*
			*##elseif($calloutType == "tip")#*
				*##set($calloutIcon = "fa-solid fa-lightbulb")#*
				*##set($calloutLabel = "Tip")#*
			*##elseif($calloutType == "important")#*
				*##set($calloutIcon = "fa-solid fa-circle-exclamation")#*
				*##set($calloutLabel = "Important")#*
			*##elseif($calloutType == "warning")#*
				*##set($calloutIcon = "fa-solid fa-triangle-exclamation")#*
				*##set($calloutLabel = "Warning")#*
			*##elseif($calloutType == "caution")#*
				*##set($calloutIcon = "fa-solid fa-bolt")#*
				*##set($calloutLabel = "Caution")#*
			*##end#*
			// Remove the [!TYPE] marker from the first paragraph, keeping remaining text
			*##set($firstParagraphHtml = $firstParagraph.html())#*
			*##set($remainingText = $firstParagraphHtml.replaceFirst("^\[!(NOTE|TIP|IMPORTANT|WARNING|CAUTION)\]\s*", ""))#*
			// If there's remaining text in first paragraph, update it; otherwise remove it
			*##if($remainingText.trim().isEmpty())#*
				*##call($firstParagraph.remove())#*
			*##else#*
				*##call($firstParagraph.html($remainingText))#*
			*##end#*
			// Get the content HTML
			*##set($calloutContent = $blockquote.html())#*
			// Build the callout HTML
			*##set($calloutHtml = "<div class='callout callout-$calloutType'><div class='callout-title'><i class='$calloutIcon'></i> $calloutLabel</div>$calloutContent</div>")#*
			// Replace the blockquote with the callout
			*##call($blockquote.before($calloutHtml))#*
			*##call($blockquote.remove())#*
		*##end#*
	*##end#*
*##end#*

// Transform blockquotes with [!COLLAPSIBLE] marker into UIB collapse components
// Syntax: > [!COLLAPSIBLE]\n> Title\n> Content...
// Or:     > [!COLLAPSIBLE] Title\n> Content...
*##set($collapsibleCounter = 0)#*
*##set($collapsibleBlockquotes = $bodyElement.select("blockquote"))#*
*##foreach($blockquote in $collapsibleBlockquotes)#*
	*##set($firstParagraph = $blockquote.selectFirst("p"))#*
	*##if($firstParagraph)#*
		*##set($firstText = $firstParagraph.text().trim())#*
		*##set($isCollapsibleMarker = $firstText.matches("^\[!COLLAPSIBLE[^\]]*\].*"))#*
		*##if($isCollapsibleMarker)#*
			*##set($collapsibleCounter = $collapsibleCounter + 1)#*
			*##set($collapsibleVarName = "collapsible$collapsibleCounter")#*
			// Title can be on the same line or in the next paragraph
			*##set($inlineTitle = $firstText.replaceFirst("^\[!COLLAPSIBLE[^\]]*\]\s*", "").trim())#*
			*##if($inlineTitle && $inlineTitle.length() > 0)#*
				*##set($collapsibleTitle = $inlineTitle)#*
			*##else#*
				*##set($titleParagraph = $firstParagraph.nextElementSibling())#*
				*##if($titleParagraph && $titleParagraph.tagName().equalsIgnoreCase("p"))#*
					*##set($collapsibleTitle = $titleParagraph.text().trim())#*
					*##call($titleParagraph.remove())#*
				*##else#*
					*##set($collapsibleTitle = "Details")#*
				*##end#*
			*##end#*
			*##call($firstParagraph.remove())#*
			*##if(!$collapsibleTitle || $collapsibleTitle.length() == 0)#*
				*##set($collapsibleTitle = "Details")#*
			*##end#*
			// Get the remaining content HTML
			*##set($collapsibleContent = $blockquote.html())#*
			// Build the UIB collapse component HTML (collapsed by default)
			// Note: $collapsibleTitle is escaped to prevent XSS from entity-escaped markup in Markdown
			*##set($collapseHtml = "<p><button type='button' class='btn btn-primary' ng-click='$collapsibleVarName = !$collapsibleVarName'><i class='fas fa-chevron-right' ng-class='{&quot;fa-rotate-90&quot;: $collapsibleVarName}'></i> $esc.html($collapsibleTitle)</button></p><div uib-collapse='!$collapsibleVarName' class='sentry-uib'><div class='well'>$collapsibleContent</div></div>")#*
			// Replace the blockquote with the collapse component
			*##call($blockquote.before($collapseHtml))#*
			*##call($blockquote.remove())#*
		*##end#*
	*##end#*
*##end#*

// Transform blockquotes with [!TABS] marker into UIB tabset components
// Syntax: > [!TABS justified=true, vertical=true, active=myVar]
//         > - Tab Title 1
//         >
//         >   Tab content 1
//         >
//         > - Tab Title 2
//         >
//         >   Tab content 2
*##set($tabsCounter = 0)#*
*##set($tabsBlockquotes = $bodyElement.select("blockquote"))#*
*##foreach($blockquote in $tabsBlockquotes)#*
	*##set($firstParagraph = $blockquote.selectFirst("p"))#*
	*##if($firstParagraph)#*
		*##set($firstText = $firstParagraph.text())#*
		*##set($isTabsMarker = $firstText.matches("^\[!TABS[^\]]*\].*"))#*
		*##if($isTabsMarker)#*
			*##set($tabsCounter = $tabsCounter + 1)#*
			// Parse options from the [!TABS ...] marker line
			*##set($tabsOptionsStr = $firstText.replaceFirst("^\[!TABS\s*([^\]]*)\].*$", "$1").trim())#*
			*##set($justifiedAttr = "")#*
			*##set($verticalAttr = "")#*
			*##set($activeVar = "tabsActive$tabsCounter")#*
			// Parse comma-separated options
			*##if($tabsOptionsStr && $tabsOptionsStr.length() > 0)#*
				*##foreach($option in $tabsOptionsStr.split(","))#*
					*##set($optionTrimmed = $option.trim())#*
					*##if($optionTrimmed.startsWith("justified="))#*
						*##set($justifiedVal = $optionTrimmed.substring(10).trim())#*
						*##if($justifiedVal == "true")#set($justifiedAttr = "justified='true'")#end#*
					*##elseif($optionTrimmed.startsWith("vertical="))#*
						*##set($verticalVal = $optionTrimmed.substring(9).trim())#*
						*##if($verticalVal == "true")#set($verticalAttr = "vertical='true'")#end#*
					*##elseif($optionTrimmed.startsWith("active="))#*
						*##set($activeValCandidate = $optionTrimmed.substring(7).trim())#*
						*##if($activeValCandidate.matches("^[a-zA-Z_$][a-zA-Z0-9_$]*$"))#*
							*##set($activeVar = $activeValCandidate)#*
						*##end#*
					*##end#*
				*##end#*
			*##end#*
			// Remove the marker paragraph so only the tab list remains
			*##call($firstParagraph.remove())#*
			// Find the list (ul or ol) containing the tabs
			*##set($tabsList = $blockquote.selectFirst("ul, ol"))#*
			*##if($tabsList)#*
				// Build the tabset HTML
				*##set($tabsHtml = "<uib-tabset $justifiedAttr $verticalAttr active='$activeVar' class='sentry-uib'>")#*
				*##set($tabIndex = 0)#*
				*##foreach($tabItem in $tabsList.select(":root > li"))#*
					// The first <p> in the <li> is the tab heading, the rest is content
					*##set($tabHeadingP = $tabItem.selectFirst("p"))#*
					*##if($tabHeadingP)#*
						// Use HTML for the heading to allow formatting
						*##set($tabHeadingHtml = $tabHeadingP.html())#*
						*##call($tabHeadingP.remove())#*
						*##set($tabContent = $tabItem.html())#*
					*##else#*
						// Fallback: use ownText as heading if no <p>
						*##set($tabHeadingText = $tabItem.ownText())#*
						*##set($tabHeadingHtml = $tabHeadingText.replace("&", "&amp;").replace("<", "&lt;").replace(">", "&gt;"))#*
						*##set($tabContent = "")#*
						*##foreach($child in $tabItem.children())#*
							*##set($tabContent = "${tabContent}${child.outerHtml()}")#*
						*##end#*
					*##end#*
*##set($tabsHtml = "${tabsHtml}<uib-tab index='$tabIndex'><uib-tab-heading>$tabHeadingHtml</uib-tab-heading><p class='sentry-print-tab-heading'><strong>$tabHeadingHtml</strong></p>$tabContent</uib-tab>")#*
					*##set($tabIndex = $tabIndex + 1)#*
				*##end#*
				*##set($tabsHtml = "${tabsHtml}</uib-tabset>")#*
				// Replace the blockquote with the tabset
				*##call($blockquote.before($tabsHtml))#*
				*##call($blockquote.remove())#*
			*##end#*
		*##end#*
	*##end#*
*##end#*

// Transform blockquotes with [!ACCORDION] marker into UIB accordion components
// Syntax: > [!ACCORDION close-others=false, is-open=0]
//         > - Panel Title 1
//         >
//         >   Panel content 1
//         >
//         > - Panel Title 2
//         >
//         >   Panel content 2
*##set($accordionCounter = 0)#*
*##set($accordionBlockquotes = $bodyElement.select("blockquote"))#*
*##foreach($blockquote in $accordionBlockquotes)#*
	*##set($firstParagraph = $blockquote.selectFirst("p"))#*
	*##if($firstParagraph)#*
		*##set($firstText = $firstParagraph.text())#*
		*##set($isAccordionMarker = $firstText.matches("^\[!ACCORDION[^\]]*\].*"))#*
		*##if($isAccordionMarker)#*
			*##set($accordionCounter = $accordionCounter + 1)#*
			// Parse options from the [!ACCORDION ...] marker
			*##set($closeOthersAttr = "")#*
			*##set($isOpenIndex = 0)#*
			*##set($accordionOptionsStr = $firstText.replaceFirst("^\[!ACCORDION\s*([^\]]*)\].*$", "$1").trim())#*
			// Parse comma-separated options
			*##if($accordionOptionsStr && $accordionOptionsStr.length() > 0)#*
				*##foreach($option in $accordionOptionsStr.split(","))#*
					*##set($optionTrimmed = $option.trim())#*
					*##if($optionTrimmed.startsWith("close-others="))#*
						*##set($closeOthersVal = $optionTrimmed.substring(13).trim())#*
						*##if($closeOthersVal == "true" || $closeOthersVal == "false")#*
							*##set($closeOthersAttr = "close-others='$closeOthersVal'")#*
						*##end#*
					*##elseif($optionTrimmed.startsWith("is-open="))#*
						*##set($isOpenVal = $optionTrimmed.substring(8).trim())#*
						*##if($isOpenVal.matches("^[0-9]+$"))#*
							*##set($isOpenIndex = $isOpenVal - 0)#*
						*##end#*
					*##end#*
				*##end#*
			*##end#*
			// Remove the ACCORDION marker paragraph
			*##call($firstParagraph.remove())#*
			// Find the list (ul or ol) containing the panels
			*##set($accordionList = $blockquote.selectFirst("ul, ol"))#*
			*##if($accordionList)#*
				// Build the accordion HTML
				*##set($accordionHtml = "<uib-accordion $closeOthersAttr class='sentry-uib'>")#*
				*##set($panelIndex = 0)#*
				*##foreach($panelItem in $accordionList.select(":root > li"))#*
					// The first <p> in the <li> is the panel heading, the rest is content
					*##set($panelHeadingP = $panelItem.selectFirst("p"))#*
					*##if($panelHeadingP)#*
						// Use HTML for the heading to allow formatting
						*##set($panelHeadingHtml = $panelHeadingP.html())#*
						*##call($panelHeadingP.remove())#*
						*##set($panelContent = $panelItem.html())#*
					*##else#*
						// Fallback: use ownText as heading if no <p>
						*##set($panelHeadingText = $panelItem.ownText())#*
						*##set($panelHeadingHtml = $panelHeadingText.replace("&", "&amp;").replace("<", "&lt;").replace(">", "&gt;"))#*
						*##set($panelContent = "")#*
						*##foreach($child in $panelItem.children())#*
							*##set($panelContent = "${panelContent}${child.outerHtml()}")#*
						*##end#*
					*##end#*
					// Determine if this panel should be open
					*##if($panelIndex == $isOpenIndex)#*
						*##set($accordionHtml = "${accordionHtml}<div uib-accordion-group class='panel-default' is-open='true'><uib-accordion-heading>$panelHeadingHtml</uib-accordion-heading>$panelContent</div>")#*
					*##else#*
						*##set($accordionHtml = "${accordionHtml}<div uib-accordion-group class='panel-default'><uib-accordion-heading>$panelHeadingHtml</uib-accordion-heading>$panelContent</div>")#*
					*##end#*
					*##set($panelIndex = $panelIndex + 1)#*
				*##end#*
				*##set($accordionHtml = "${accordionHtml}</uib-accordion>")#*
				// Replace the blockquote with the accordion
				*##call($blockquote.before($accordionHtml))#*
				*##call($blockquote.remove())#*
			*##end#*
		*##end#*
	*##end#*
*##end#*

// Transform blockquotes with [!CAROUSEL] marker into UIB carousel components
// Syntax: > [!CAROUSEL interval=5000, no-wrap=false, no-pause=true, active=slideVar]
//         > * ![Image 1 description](path/to/image1.png)
//         > * ![Image 2 description](path/to/image2.png)
//         > * ![Image 3 description](path/to/image3.png)
*##set($carouselCounter = 0)#*
*##set($carouselBlockquotes = $bodyElement.select("blockquote"))#*
*##foreach($blockquote in $carouselBlockquotes)#*
	*##set($firstParagraph = $blockquote.selectFirst("p"))#*
	*##if($firstParagraph)#*
		*##set($firstText = $firstParagraph.text().trim())#*
		*##set($isCarouselMarker = $firstText.matches("^\[!CAROUSEL[^\]]*\].*"))#*
		*##if($isCarouselMarker)#*
			*##set($carouselCounter = $carouselCounter + 1)#*
			// Parse options from the [!CAROUSEL ...] marker
			*##set($intervalAttr = "")#*
			*##set($noWrapAttr = "")#*
			*##set($noPauseAttr = "")#*
			*##set($activeVar = "carouselActive$carouselCounter")#*
			*##set($carouselOptionsStr = $firstText.replaceFirst("^\[!CAROUSEL\s*([^\]]*)\].*$", "$1").trim())#*
			// Parse comma-separated options
			*##if($carouselOptionsStr && $carouselOptionsStr.length() > 0)#*
				*##foreach($option in $carouselOptionsStr.split(","))#*
					*##set($optionTrimmed = $option.trim())#*
					*##if($optionTrimmed.startsWith("interval="))#*
						*##set($intervalVal = $esc.html($optionTrimmed.substring(9).trim()))#*
						*##if($intervalVal.matches("^[0-9]+$"))#*
							*##set($intervalAttr = "interval='$intervalVal'")#*
						*##end#*
					*##elseif($optionTrimmed.startsWith("no-wrap="))#*
						*##set($noWrapVal = $optionTrimmed.substring(8).trim())#*
						*##if($noWrapVal == "true" || $noWrapVal == "false")#*
							*##set($noWrapAttr = "no-wrap='$noWrapVal'")#*
						*##end#*
					*##elseif($optionTrimmed.startsWith("no-pause="))#*
						*##set($noPauseVal = $optionTrimmed.substring(9).trim())#*
						*##if($noPauseVal == "true" || $noPauseVal == "false")#*
							*##set($noPauseAttr = "no-pause='$noPauseVal'")#*
						*##end#*
					*##elseif($optionTrimmed.startsWith("active="))#*
						*##set($activeValCandidate = $optionTrimmed.substring(7).trim())#*
						*##if($activeValCandidate.matches("^[a-zA-Z_$][a-zA-Z0-9_$]*$"))#*
							*##set($activeVar = $activeValCandidate)#*
						*##end#*
					*##end#*
				*##end#*
			*##end#*
			// Remove the CAROUSEL marker paragraph
			*##call($firstParagraph.remove())#*
			// Find the list containing the images
			*##set($imageList = $blockquote.selectFirst("ul, ol"))#*
			*##if($imageList)#*
				// Build the carousel HTML
				*##set($carouselHtml = "<div uib-carousel $intervalAttr $noWrapAttr $noPauseAttr active='$activeVar' ng-init='$activeVar = 0' class='sentry-uib'>")#*
				*##set($slideIndex = 0)#*
				*##foreach($slideItem in $imageList.select(":root > li"))#*
					// Get the image element
					*##set($slideImg = $slideItem.selectFirst("img"))#*
					*##if($slideImg)#*
						*##set($imgSrc = $esc.html($slideImg.attr("src")))#*
						*##set($imgAlt = $esc.html($slideImg.attr("alt")))#*
*##set($carouselHtml = "${carouselHtml}<div uib-slide index='$slideIndex'>")#*
*##set($carouselHtml = "${carouselHtml}<img src='$imgSrc' alt='$imgAlt'>")#*
						// Add caption from alt text if available
						*##if($imgAlt && $imgAlt.length() > 0)#*
							*##set($carouselHtml = "${carouselHtml}<div class='carousel-caption'><p>$imgAlt</p></div>")#*
						*##end#*
						*##set($carouselHtml = "${carouselHtml}</div>")#*
						*##set($slideIndex = $slideIndex + 1)#*
					*##end#*
				*##end#*
				*##set($carouselHtml = "${carouselHtml}</div>")#*
				// Replace the blockquote with the carousel
				*##call($blockquote.before($carouselHtml))#*
				*##call($blockquote.remove())#*
			*##end#*
		*##end#*
	*##end#*
*##end#*

// Replace old-style icon images (which don't exist in our skin) with corresponding Fontawesome icons
*##set($bodyElement = $htmlTool.replace($bodyElement, "img[src$=close.gif]", '<i class="fa-regular fa-rectangle-xmark"></i>', -1))#*
*##set($bodyElement = $htmlTool.replace($bodyElement, "img[src$=collapsed.gif]", '<i class="fa-solid fa-circle-chevron-up"></i>', -1))#*
*##set($bodyElement = $htmlTool.replace($bodyElement, "img[src$=expanded.gif]", '<i class="fa-solid fa-circle-chevron-down"></i>', -1))#*
*##set($bodyElement = $htmlTool.replace($bodyElement, "img[src$=external.png]", '<i class="fa-solid fa-globe"></i>', -1))#*
*##set($bodyElement = $htmlTool.replace($bodyElement, "img[src$=icon_error_sml.gif]", '<i class="fa-solid fa-circle-exclamation text-danger"></i>', -1))#*
*##set($bodyElement = $htmlTool.replace($bodyElement, "img[src$=icon_info_sml.gif]", '<i class="fa-solid fa-circle-info text-info"></i>', -1))#*
*##set($bodyElement = $htmlTool.replace($bodyElement, "img[src$=icon_success_sml.gif]", '<i class="fa-solid fa-circle-check text-success"></i>', -1))#*
*##set($bodyElement = $htmlTool.replace($bodyElement, "img[src$=icon_warning_sml.gif]", '<i class="fa-solid fa-triangle-exclamation text-warning"></i>', -1))#*
*##set($bodyElement = $htmlTool.replace($bodyElement, "img[src$=newwindow.gif]", '<i class="fa-solid fa-arrow-up-right-from-square"></i>', -1))#*

// Check all images
*##set($bodyElement = $imageTool.checkImageLinks($bodyElement, ${project.reporting.outputDirectory}, $currentFileName))#*

// Convert all <IMG> to WEBP format (more efficient)
*##set($bodyElement = $imageTool.convertImagesToWebp($bodyElement, "img", ${project.reporting.outputDirectory}, $currentFileName))#*

// Specify the size of the images (makes the rendering more efficient)
*##set($bodyElement = $imageTool.explicitImageSize($bodyElement, "img", ${project.reporting.outputDirectory}, $currentFileName))#*

// Surround all <IMG> not marked as "inline" and not inside a carousel with a thumbnail
*##set($bodyElement = $imageTool.convertImagesToThumbnails(
		$bodyElement,
		"img:not([alt=inline]):not([uib-carousel] img)",
		${project.reporting.outputDirectory},
		$currentFileName,
		200, 0,
		"<zoomable style='background-image: url(%thumbSrc%); min-width: %thumbWidth%px; min-height: %thumbHeight%px; max-width: %imgWidth%px; max-height: %imgHeight%px;'></zoomable>"
	)
)#*
// Present links as footnotes for printing
*##set($urlFootnoteMap = {})#*
*##set($footnoteCounter = 1)#*
*##set($aLinkList = $bodyElement.select("a[href]"))#*
*##if($aLinkList && !$aLinkList.isEmpty())#*
	*##foreach ($aLinkElement in $aLinkList)#*
		*##set($href = $aLinkElement.attr("href"))#*
		// For all external links, add the "externalLink" class
		// An external link is a URL starting with http(s)://, but not the URL to the project or organization
		// Maven Doxia actually already tries to do that, but it's not perfect
		// We're "fixing" this here, so remove the externalLink class when the link refers to the project's URL.
		*##if($href && ($href.startsWith("http://") || $href.startsWith("https://")) && !($project.url && $href.startsWith($project.url)) && !($project.organization.url && $href.startsWith($project.organization.url)))#*
			*##set($_ = $aLinkElement.addClass("externalLink"))#*
		*##else#*
			*##set($_ = $aLinkElement.removeClass("externalLink"))#*
		*##end#*
		*##if($href && !$href.startsWith("#") && !$href.startsWith("javascript:"))#*
			*##if($urlFootnoteMap[$href])#*
				*##set($footnoteIndex = $urlFootnoteMap[$href])#*
			*##else#*
				*##set($footnoteIndex = $footnoteCounter)#*
				*##set($urlFootnoteMap[$href] = $footnoteIndex)#*
				*##set($footnoteCounter = $footnoteCounter + 1)#*
			*##end#*
			*##set($_ = $aLinkElement.after("<sup class='visible-print-inline'>[$footnoteIndex]</sup>"))#*
		*##end#*
	*##end#*
*##end#*

// Bootstrap CSS class for tables
*##set($bodyElement = $htmlTool.addClass($bodyElement, "table.bodyTable", ["table", "table-striped", "table-hover"]))#*
*##set($bodyElement = $htmlTool.fixTableHeads($bodyElement))#*

// Convert old-style <a name=""> anchors to HTML5 <a id="">
*##set($bodyElement = $htmlTool.headingAnchorToId($bodyElement))#*

// Clean up IDs and corresponding <a href="#..."> references for unsupported characters
*##set($bodyElement = $htmlTool.fixIds($bodyElement))#*

// Make sure all headings have IDs
*##set($bodyElement = $htmlTool.ensureHeadingIds($bodyElement))#*

// Use angular-scroll for all internal (hash) links (notably for the automatic TOC)
*##set($bodyElement = $htmlTool.setAttr($bodyElement, "a[href^=#]", "du-smooth-scroll", ""))#*

// Surround all headings with <a href="#heading-ig">
*##set($headingList = $bodyElement.select("h2[id],h3[id],h4[id],h5[id],h6[id]"))#*
*##if($headingList && !$headingList.isEmpty())#*
	*##foreach($headingElement in $headingList)#*
		*##set($headingId = $headingElement.id())#*
		*##set($headingHtml = $headingElement.html())#*
		*##if($headingId)#*
			*##call($headingElement.html("<a href='#$headingId'>$headingHtml</a>"))#*
		*##end#*
	*##end#*
*##end#*

// Use copy-to-clipboard for all <pre> elements
*##set($bodyElement = $htmlTool.setAttr($bodyElement, "pre", "copy-to-clipboard", ""))#*

// Extract the TOC and put it in a variable
*##set($tocElementList = $bodyElement.select("ul#toc"))#*
*##if (!$tocElementList.isEmpty())#*
	// Extract the TOC content
	// It will be reinserted in the document (so it will be in the final HTML twice:
	// once inline, just below the <h1>, and once to the right, as a sticky <div>)
	*##set($tocElement = $tocElementList.get(0))#*
	*##set($tocContent = $tocElement.clone().attr("id", "right-toc").outerHtml())#*
	// Wrap the inline TOC with the necessary HTML
	*##call($tocElement.wrap("<div class='toc-inline-container hidden-lg hidden-xs'>"))#*
	*##call($tocElement.parent().prepend("<div class='toc-heading'>Table of Contents</div>"))#*
*##else#*
	*##set($tocContent = "")#*
*##end#*

// Extract the keywords
*##set($keywordsArray = $htmlTool.getAttr($headElement, "meta[name=keywords]", "content"))#*
*##call($keywordsArray.add($site.getCustomValue("keywords")))#*
*##if (!$keywordsArray.isEmpty())#*
	*##set($keywords = $display.list($display.list($keywordsArray, ",").trim().split("\s*,\s*"), ","))#*
	*##set($keywordsArray = $keywords.split("\s*,\s*"))#*
*##end#*
*##set($headElement = $htmlTool.remove($headElement, "meta[name=keywords]") )#*

// Build ElasticLunr index
*##set($indexFile = "${project.reporting.outputDirectory}/index.json")#*
*##set($bodyText = $htmlTool.text($bodyElement, "body").get(0) )#*
*##call($indexTool.buildElasticLunrIndex($indexFile, $currentFileName, $shortTitle, $keywords, $bodyText))#*

// publishDate: either <custom><publishDate> in site.xml,
// or project.build.outputTimestamp defind in pom.xml, or current date
*##set($publishDateString = $site.getCustomValue("publishDate", $context.get("project.build.outputTimestamp")))#*
*##if($StringUtils.isBlank($publishDateString))#*
	*#$log.debug("No publishDate defined under <custom> in site.xml, and no project.build.outputTimestamp in pom.xml.")#*
	*#$log.debug("Will use current date, so the build is not reproducible.")#*
	*##set($publishDate = $date.systemDate)#*
*##else#*
	*##set($publishDate = $date.toDate($publishDateString))#*
*##end#*

// generator: who we are and where we come from
*##set($generator = "Maven Site Plugin, Doxia Site Renderer $doxiaSiteRendererVersion, Skin $site.skin.artifactId $site.skin.version")#*
*##if ($docRenderingContext.doxiaSource)#*
	*##set($generator = "$generator, from $docRenderingContext.parserId")#*
*##end#*
*##if($docRenderingContext.generator && $docRenderingContext.generator != "")#*
	*##set($generator = "$generator, with $docRenderingContext.generator")#*
*##end#*
*##set($headElement = $htmlTool.remove($headElement, "meta[name=generator]"))#*

// Additional links
*##set($additionalLinks = [])#*
*##if($site.getCustomChild("additionalLinks"))#*
	*##foreach($itemXml in $site.getCustomChild("additionalLinks").getChildren())#*
		*##set($item = {})#*
		*##foreach($itemChild in $itemXml.getChildren())#*
			*##call($item.put($itemChild.name, $itemChild.value))#*
		*##end#*
		*##call($additionalLinks.add($item))#*
	*##end#*
*##end#*

// Build the links to social networks
*##set($socialLinks = [])#*
*##if($site.getCustomChild("social"))#*
	*##foreach($itemXml in $site.getCustomChild("social").getChildren())#*
		*##set($item = {})#*
		*##if($itemXml.name == "facebook")#*
			*##call($socialLinks.add({"href": "https://www.facebook.com/$itemXml.value", "icon": "fa-brands fa-facebook-f", "title": "Follow $itemXml.value on Facebook"}))#*
		*##elseif($itemXml.name == "linkedin")#*
			*##if($itemXml.value.startsWith("in/"))#*
				*##set($linkedInAccount = $itemXml.value)#*
				*##set($linkedInTitle = "Connect with $linkedInAccount.substring(3)")#*
			*##elseif($itemXml.value.startsWith("company/"))#*
				*##set($linkedInAccount = $itemXml.value)#*
				*##set($linkedInTitle = "Follow $linkedInAccount.substring(8)")#*
			*##else#*
				*##set($linkedInAccount = "company/$itemXml.value")#*
				*##set($linkedInTitle = "Follow $itemXml.value")#*
			*##end#*
			*##call($socialLinks.add({"href": "https://www.linkedin.com/$linkedInAccount", "icon": "fa-brands fa-linkedin", "title": "$linkedInTitle on LinkedIn"}))#*
		*##elseif($itemXml.name == "twitter")#*
			*##call($socialLinks.add({"href": "https://twitter.com/$itemXml.value", "icon": "fa-brands fa-x-twitter", "title": "Follow @$itemXml.value on X (Twitter)"}))#*
		*##elseif($itemXml.name == "custom")#*
			*##if($itemXml.getChild("href")) #set($socialCustomHref = $itemXml.getChild("href").value)#else#set($socialCustomHref = "")#end#*
			*##if($itemXml.getChild("icon")) #set($socialCustomIcon = $itemXml.getChild("icon").value)#else#set($socialCustomIcon = "")#end#*
			*##if($itemXml.getChild("title")) #set($socialCustomTitle = $itemXml.getChild("title").value)#else#set($socialCustomTitle = "")#end#*
			*##call($socialLinks.add({"href": $socialCustomHref, "icon": $socialCustomIcon, "title": $socialCustomTitle}))#*
		*##else#*
			*#$log.debug("Unknown social network <$itemXml.name> under <custom><social> in site descriptor")#*
		*##end#*
	*##end#*
*##end
