/*
Elements of the page
#logoBanner, #productNameBanner, #footer, #navigationCol, #mainContent, #mainContainer, #listToc
*/

/* TOC with Affix plugin*/
/* between 992 and 1100 screen size */
@media screen and (min-width: 992px) and (max-width: 1225px) {
	.affix {
		top: 10px !important;		
		position:fixed !important;
		width: 220px !important;
	  }
	.affix-top {
		width: 220px !important;
		right: 30px;
	}
}
/* between 992 and 1100 screen size */
@media screen and (min-width: 1226px) and (max-width: 1441px) {
	.affix {
		top: 10px !important;		
		position:fixed !important;
		width: 280px !important;
	  }
	.affix-top {
		width: 280px !important;
		right: 30px;
	}
}
/*between 1001 and 2500 screen size*/
@media screen and (min-width: 1442px) {
	.affix {
		top: 10px !important;		
		position:fixed !important;
		width: 330px !important;
	  }
	.affix-top {
		width: 330px !important;
		right: 30px;
	}
}
/* small screen size : no affix, no search, hamburger menu */
@media screen and (max-width: 992px) {
	.navbar-form {
		display: none;
	}
	.navbar-header {
		width: 100%;
	}
	ul.dropdown-menu {
		top: 49px !important;
		right: 19px !important;
		left: unset !important;
		border: none !important;
		border-radius: 0 !important;
	}
	#productNameBanner a.dropdown-toggle{	
		background-color: transparent !important;
	}
	ul.nav.navbar-nav a.dropdown-toggle {		
		position: absolute;
		top: 0px;
		right: 10px;
		display: block;
		float: right;
		width: 50px;
		height: 66px;
		cursor: pointer;
		text-indent: -9999px;
		opacity:1 !important;
		filter: alpha(opacity=100) !important;
	}
    ul.nav.navbar-nav a.dropdown-toggle:after {
		content: '';
		position: absolute;
		display: block;
		width: 25px;
		height: 0;
		top: 16px;
		left: 15px;
		box-shadow: 0 13px 0 1px white, 0 20px 0 1px white, 0 27px 0 1px white;
	}	
	.dropdown-menu>li>a{
		font-family: 'Lato', sans-serif;
	}
	.dropdown-menu>.active>a, 
	.dropdown-menu>.active>a:focus, 
	.dropdown-menu>.active>a:hover {
		background-color: #3399ff !important;
	}
}
/* very small screen */
@media screen and (max-width: 767px){
	#footer {
		text-align: center !important;
	}	
	#productNameBanner {
		padding: 30px 50px !important;
	}
	#productNameBanner a.dropdown-toggle{	
		background-color: transparent !important;
	}
	ul.nav.navbar-nav a.dropdown-toggle {		
		position: absolute;
		top: -95px;
		right: -9px;
		display: block;
		float: right;
		width: 50px;
		height: 66px;
		cursor: pointer;
		text-indent: -9999px;
		opacity:1 !important;
		filter: alpha(opacity=100) !important;
	}
    ul.nav.navbar-nav a.dropdown-toggle:after {
		content: '';
		position: absolute;
		display: block;
		width: 25px;
		height: 0;
		top: 16px;
		left: 15px;
		box-shadow: 0 13px 0 1px white, 0 20px 0 1px white, 0 27px 0 1px white;
	}
	ul.dropdown-menu li:first-child {
		border-top: 1px solid rgba(255,255,255,0.30);
	}		
	ul.dropdown-menu li {
		border-bottom: 1px solid rgba(255,255,255,0.30);
	}
	ul.dropdown-menu li:hover {
		border-bottom: 1px solid rgba(255,255,255,0.30);
		background-color: rgba(255,255,255,0.10);
	}
	ul.dropdown-menu li a {
		color: #ffffff !important;
		padding-left: 10px !important;
	}
}
/* max screen size */
@media screen and (min-width: 992px) {
	#productNameBanner ul.nav.navbar-nav {
		display: none;
	}	
}

/*Color of the solution*/
body #productNameBanner {background-color:#3399ff;}
body.sentry-hardware #productNameBanner {background-color:#76A600;}
body.sentry-storage #productNameBanner {background-color:#db5d18;}
body.sentry-studio #productNameBanner {background-color:#b071dc;}

/*Logo Banner*/
#logoBanner.hidden-sm ul li a {
	padding: 10px 45px;
	height: 30px;
}
#logoBanner {
	background-color: #343434;
}
#logoBanner ul {
	margin: 0px 0 0 -60px;
    list-style: none;
}
#logoBanner ul li {
	float: left;
	margin: 0 10px;
	float: left;
}
#logoBanner ul li a {
	font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;	
	opacity: .5;
    filter: alpha(opacity=50);
	transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
	display: block;
	height: 50px;
	padding-top: 18px;
}
#logoBanner a:hover{
	opacity: 1;
    filter: alpha(opacity=100);
}
#logoBanner ul li.logo a {
	height: 50px;
	width: 100px;
	font-size: 0;
	background-image:url(../images/logo-sentry.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

/*Header*/
#productNameBanner {
	padding: 15px 0;
}
#productNameBanner .navbar-inverse {
    background-color: transparent !important;
    border-color: transparent !important;
	color: #ffffff !important;
}
#productNameBanner .navbar-header p,
#productNameBanner .navbar-header span {
	font-family: 'Raleway', sans-serif; 
	font-weight: 300; 
	color:#ffffff !important;
	text-transform:uppercase;
}
#productNameBanner .navbar-header p {
	font-size: 30px;
}
#productNameBanner .navbar-header span {
	font-size: 11px;
	opacity: .7;
    filter: alpha(opacity=70);
}


/*Search input*/
input.form-control {
    padding: 5px 25px 5px 5px;
	border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
	color: #ffffff !important;
	font-family: 'Lato', sans-serif;
	border-radius: 0;
	font-size: 13px;
	box-shadow: none;
	-webkit-box-shadow: none;
}
input.form-control::-webkit-input-placeholder {
   color: #ffffff;
}
input.form-control:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}
input.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}
input.form-control:-ms-input-placeholder {  
   color: #ffffff;  
}
input.form-control:focus {
	border-bottom: 1px solid #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.input-group-btn,
.input-group-btn button {
	font-size: 20px;
	border: none;
	right: 25px;
	background-color: transparent;
}
.input-group-btn button:focus {
	border: none;
}

/*Titles*/
h1 {
	text-transform:uppercase;
	font-size:40px;
	line-height:40px !important;
}
h1:after {
    content: '';
    display: block;
    margin:50px 0;
    width: 40px;
    border-top: 2px solid #444;
}
h2, h3, h4, h5, h6 {
	padding-top: 35px; 
	margin:10px 0 10px !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 40px;
    color: inherit;
    text-rendering: optimizelegibility;
}
h3,h4,h5, h6 {
	font-family: 'Raleway', sans-serif;
    font-weight: 400 !important;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

/*Generic selectors*/
#mainContainer {
	background-color: #383838 !important;
}
#mainContent {
	padding:30px 60px;
	margin:0;
	background-color:#ffffff;
	min-height: 100vh;
}

a {
	color: #3399FF;	
	transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;	}
a:hover {
	text-decoration:none;
	color:#444;
}
#mainContent ul ul,
#mainContent ul ol,
#mainContent ol ol,
#mainContent ol ul {
    margin-bottom: 10px;
}
#mainContent p {
    margin: 0 0 10px;
    font-family: 'Lato', sans-serif;
}
#mainContent table td {
    font-family: 'Lato', sans-serif;
}
#mainContent li {
    color: #404040;
    font-family: 'Lato', sans-serif;
}

/*Left menu*/
#navigationCol {
    background-color: #383838;
    border: none !important;
	padding: 0 !important;
}
#navigationCol h5 {
	font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-weight:bolder !important;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
	opacity: .5;
    filter: alpha(opacity=50);
	margin: 20px 0 0 15px !important;
	padding: 0;
}
#navigationCol a {	
	transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;	}
.nav-pills li:first-child {
	border-top: 1px solid #464646;
}
.nav-pills li {
	margin-top: 0 !important;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	border-bottom: 1px solid #464646;	
}
.nav-pills li a {
	background-color: #343434 !important;
	color:#bbbbbb;
	border-radius: 0px;
	padding: 6px 15px;
}
.nav-pills li:not(.active) a:hover {
	background-color: #404040 !important;
	color:#ffffff;
	padding-left:17px;
}
.nav-pills .active a,
.nav-pills .active a:hover {
	background-color: #3399ff !important;
	background-image:url(../images/arrow.png);
	background-repeat: no-repeat;
	background-position: right;
}

/*Table of content*/
#listToc {
	color: #ffffff;
	background-color:#EFEFEF;
	padding: 10px 20px;
	border-radius: 2px;
	margin-top: 20px;
	font-size: 13px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#listToc:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#listToc span {
    font-family: 'Raleway', sans-serif;
    font-weight: 600 !important;
    text-transform: uppercase;
    font-size: 20px;
    color: #333;
    opacity: .3;
    filter: alpha(opacity=30);
	display: block;
	margin: 5px 0 5px 0;
}
#listToc span:after {
    content: '';
    display: block;
    margin:20px 0;
    width: 30px;
    border-top: 2px solid #333;
}
.panelToc ul,
#listToc ul {
	list-style: none;
	padding-left: 0px;
	font-weight: bold;
}
.panelToc ul ul,
#listToc ul ul {
	list-style: none;
	padding-left: 20px;
	font-weight: normal;
}
.panelToc ul li {
	margin: 5px 0; 
}
#listToc ul li {
	margin: 15px 0;
}
.panelToc ul ul li,
#listToc ul ul li {
	margin: 2px 0;
}

/*Table of content for mobile*/
.panel-group {
	margin-bottom: 40px;
}
.panel-group h4 {
	padding: 0;
	margin: 0 !important;
}
.panel-group h4 a {
	text-decoration: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-weight: 600 !important;
    text-transform: uppercase;
    font-size: 13px;
    color: #666;
}

/*Footer*/
#footer {
	background-color: #343434;
    color: #fff;	
	padding: 15px;
}
#footer p {	
	font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
	margin: 0;
    font-size: 11px;
	opacity: .6;
    filter: alpha(opacity=60);
}
#footer span {	
	font-family: 'Lato', sans-serif;
    font-size: 13px;
	opacity: .3;
    filter: alpha(opacity=30);
}

/*Go to top button*/
#gotoTop {
	display: none;
	z-index: 299;
	position: fixed;
	width: 40px;
	height: 40px;
	background-color: #333;
	background-color: rgba(0,0,0,0.3);
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	color: #FFF;
	top: auto;
	left: auto;
	right: 30px;
	bottom: 50px;
	cursor: pointer;
	border-radius: 2px;
    transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}
#gotoTop:hover { 
	background-color: #3399FF;
}



/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://fonts.gstatic.com/s/lato/v14/YMOYVM-eg6Qs9YzV9OSqZfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://fonts.gstatic.com/s/lato/v14/PLygLKRVCQnA5fhu3qk5fQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v14/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v14/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v14/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v14/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v14/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v12/ZKwULyCG95tk6mOqHQfRBCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v12/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v12/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v12/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(http://fonts.gstatic.com/s/raleway/v12/Li18TEFObx_yGdzKDoI_ciEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(http://fonts.gstatic.com/s/raleway/v12/CcKI4k9un7TZVWzRVT-T8_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(http://fonts.gstatic.com/s/raleway/v12/STBOO2waD2LpX45SXYjQBSEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(http://fonts.gstatic.com/s/raleway/v12/xkvoNo9fC8O2RDydKj12b_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(http://fonts.gstatic.com/s/raleway/v12/WmVKXVcOuffP_qmCpFuyzSEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(http://fonts.gstatic.com/s/raleway/v12/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}